[2022-05-16 20:28] Zelldon commented on #894
Sounds good :+1:

[2022-05-17 12:43] korthout commented on #884
Closed with #899

[2022-05-17 12:43] #884 closed

[2022-05-17 15:04] #862 closed

[2022-05-17 23:57] christinaausley opened #911 "clarify the usage of the REST APIs and web apps according to our licensing"
Per [this Slack thread](https://camunda.slack.com/archives/C026U8GBNSW/p1652683850174159), we needed to clarify the usage of the REST APIs and web apps according to our licensing.

[2022-05-18 13:18] samzph commented on #844
Is there any public documentation on this? I am currently trying to configure Camunda 8 with our AWS ALB Ingress and am having issues, namely:
- Blank admin console with keycloak (maybe [header issue](https://stackoverflow.com/questions/66431870/kaycloak-docker-administration-console-shows-blank-page-with-reverse-proxy)? or [proxy env var issue](https://keycloak.discourse.group/t/blank-admin-conso

[2022-05-18 15:07] Zelldon commented on #844
Hey @samzph unfortunately there is no guide yet. Be aware that you have to use `global.identity.auth.publicIssuerUrl`, so you missed the `global` in your configurations. Hope this helps

[2022-05-18 15:39] sdorokhova opened #914 "Describe Identity M2M token refresh process with end-to-end example"

[2022-05-18 15:47] sdorokhova opened #915 "Document usage of Identity M2M token for Operate API"

[2022-05-18 15:53] sdorokhova opened #916 "Document usage of Identity M2M token for Tasklist Graphql API"

[2022-05-18 21:40] pepopowitz commented on #634
Capturing a list of things I intend to do when I rename this branch (and I'll copy these into the issue body, too):

- Communicate to #ask-documentation that this change will be made
- Rename master to main in this repo
- Update the "edit this page" URL in docusaurus.config.js
- Update the build configuration files
- Deploy to production
- Communicate to #ask-documentation that this change has bee

[2022-05-24 18:36] #634 closed

[2022-05-27 19:42] #911 closed

[2022-05-30 11:09] Sijoma opened #930 "Clients: Console OpenAPI spec hard to find"
The page https://docs.camunda.io/docs/apis-clients/console-api-reference/ contains information on the REST api of Console. It gives some information at the beginning. But in my perspective the most important link to the actual OpenAPI specification is a bit hard to find. The link is mentioned last in the page. Additionally, it also does not mention OpenAPI / Swagger which is quite known and probab

[2022-05-30 14:21] HanselIdes opened #933 "Split Optimize common problems into C7 only, C8 only, or all"
The [Optimize Common Problems page](https://docs.camunda.io/docs/self-managed/optimize-deployment/configuration/common-problems/) has a C7 Only tag, but I'm sure at least one topic applies to C8SM (e.g. update issues)

[2022-05-30 14:37] HanselIdes opened #934 "Plugins should be non-SaaS"
Plugins should be available for C8 Self-Managed, but we don't have a pill for it. ([Optimize plugin system | Camunda Platform 8](https://docs.camunda.io/docs/self-managed/optimize-deployment/plugins/plugin-system/))

[2022-05-30 14:38] HanselIdes opened #935 "Double-check if SSO is supported for C8 and update documentation appropriately"
[Docs](https://docs.camunda.io/docs/self-managed/optimize-deployment/plugins/single-sign-on/)

[2022-05-30 14:40] HanselIdes opened #936 "Update compatibility pills for some general API endpoints"
([Delete dashboards | Camunda Platform 8](https://docs.camunda.io/docs/self-managed/optimize-deployment/rest-api/dashboard/delete-dashboard/)) ([Delete reports | Camunda Platform 8](https://docs.camunda.io/docs/self-managed/optimize-deployment/rest-api/report/delete-report/)) ([Export report result data | Camunda Platform 8](https://docs.camunda.io/docs/self-managed/optimize-deployment/rest-api/re

[2022-05-30 14:41] HanselIdes opened #937 "Update expectations about release frequency (roughly once a quarter)"
[Instructions | Camunda Platform 8](https://docs.camunda.io/docs/self-managed/optimize-deployment/migration-update/instructions/)

[2022-05-30 14:42] HanselIdes opened #938 "Create import explainer for C8"
"How Optimize Works" is primarily based on the C7 architecture, but we're switching to C8.([Data import | Camunda Platform 8](https://docs.camunda.io/docs/self-managed/optimize-deployment/optimize-explained/import-guide/))

[2022-05-30 14:42] HanselIdes opened #939 "Review user journeys for C7 Optimize customers"
Where does a C7 customer go to learn more about Optimize? How do they know which features are C8 only?

[2022-05-31 09:48] toco-cam opened #940 "Move best practices to guides"
As "best practices" are not a component, the guides section would be more suitable
![image](https://user-images.githubusercontent.com/71005504/171145800-ce5cfc04-5481-42cb-abc9-71abe68845b7.png)

[2022-05-31 11:51] toco-cam opened #941 "Mark pages / adjust content of pages that are directly linked from C7 docs"
Consider direct links from C7 docs pointing to C8 docs for certain components:
- https://docs.camunda.io/docs/components/modeler/bpmn/
- https://docs.camunda.io/docs/components/optimize/what-is-optimize/

[2022-06-01 13:19] pihme opened #943 "Update GRPC API with start instructions for CreateProcessInstance RPC"
Concerns the [CreateProcessInstance RPC](https://docs.camunda.io/docs/apis-clients/grpc/#createprocessinstance-rpc) and the [CreateProcessInstanceWithResult RPC](https://docs.camunda.io/docs/apis-clients/grpc/#createprocessinstancewithresult-rpc).

[2022-06-01 13:19] pihme opened #944 "Document "Start Process Instance from Anywhere" feature"
This concerns [Process instance creation](https://docs.camunda.io/docs/components/concepts/process-instance-creation/).

We might also want to add an example like [Create a process instance with result](https://docs.camunda.io/docs/apis-clients/java-client-examples/process-instance-create-with-result/)

[2022-06-02 11:57] felix-mueller opened #950 "Document support of enterprise IDP in SaaS via auth0"
Document that we support enterprise IDP in SaaS via auth0:
https://auth0.com/docs/authenticate/identity-providers/enterprise-identity-providers

[2022-06-05 13:14] aivinog1 opened #958 "As a reader of the documentation, I expect to see changes in deprecation of the `contactPoint` property"
After https://github.com/camunda/zeebe/pull/9508 will be merged we should update the docs in the following topics:
1. Describe that the `contactPoint` property is deprecated
2. Describe that we have a replacement for this:
   1. Describe the new `initialContactPoints` property
   2. Update migration guides

[2022-06-07 08:40] pihme opened #963 "Update links to examples"
This page contains incorrect links: https://docs.camunda.io/docs/apis-clients/java-client-examples/

* `develop` branch is now called `main`
* We plan to move the examples over to the camunda-8-examples repo:
   * Issue in Zeebe: https://github.com/camunda/zeebe/issues/9500
   * PR in camunda-8-examples https://github.com/camunda-community-hub/camunda-8-examples/pull/3

[2022-06-09 04:35] saig0 opened #964 "I can read about job backoff"
With Zeebe `8.1`, we added a new feature to specify a backoff when failing a job (https://github.com/camunda/zeebe/issues/164).

We need to add documentation for it. This included:

- [ ] update the gRPC API docs: https://docs.camunda.io/docs/apis-clients/grpc/#failjob-rpc
- [ ] extend the job worker docs: https://docs.camunda.io/docs/components/concepts/job-workers/#completing-or-failing-jobs

[2022-06-10 13:57] btepe opened #966 "I can read about how to assign permissions to an application"
We added the possibility in Identity to assign permissions to applications. This needs to be documented as a user guide and the general concept of permissions of applications needs to be introduced.

Related Epic: https://github.com/camunda-cloud/identity/issues/19
Related Issue: https://github.com/camunda-cloud/identity/issues/650

[2022-06-10 18:19] christinaausley opened #968 "fix absolute links across docs"
Based on feedback in root [PR](https://github.com/camunda/camunda-platform-docs/pull/870), for links like `[`order-process.bpmn`](https://docs.camunda.io/assets/files/order-process-2ae29e9d889a3d640464be250206d550.bpmn/)` should not be absolute. This is also how it is referenced in `basic-operate-navigation`.

According to @menski, apparently this is something we already do "wrong" since docs 1.3

[2022-06-14 10:40] Ben-Sheppard opened #970 "I can read advice on how to backup parts of Identity"
As Identity is supported by external systems we should include advice for users to consider when entering into production environments. At present the main consideration here is the database which is used by Keycloak.

[2022-06-14 11:49] Ben-Sheppard opened #972 "I can read about how to obtain machine to machine (M2M) tokens"
### Description
As a user of the Identity component I would like to be able to read documentation which details how I can retrieve and use a token for an application that can access APIs within the Camunda Platform.

### Acceptance criteria
- [ ] A new page exists in the Self Managed -> Concepts section detailing how M2M functions in Camunda Platform
- [ ] A new page exists within the Identity use

[2022-06-21 08:41] berndruecker opened #979 "Improve versioning to be closer to C8"
See https://docs.camunda.io/docs/components/best-practices/operations/versioning-process-definitions/#avoid-versioning-of-dependant-artifacts - this currently has a picture referring to different class names - but a task type name is more C8-style.

Stumbled upon this in the context of https://jira.camunda.com/browse/SUPPORT-13238

[2022-06-21 13:11] akeller commented on #963
My priority is the current version of the docs has the happiest path - links should be adjusted. Anything after that is a bonus when we talk about adjustments like this.

In the example repo readme I would encourage you to add a note or disclaimer that the examples in the repo may only work for the latest versions of Zeebe, particularly anything less than 1.0.

If we get feedback on the links bein

[2022-06-21 17:36] ManuelDittmar opened #980 "I can read that OpenJDK 17+ is required for zeebe 8.0.x in the Update Guide"
In the update guide it is not mentioned that OpenJDK 17+ is required for zeebe 8.0.x.
https://docs.camunda.io/docs/guides/update-guide/130-to-800/

You can only find the information in the supported environments:
https://docs.camunda.io/docs/reference/supported-environments/

Especially relevant for local Installations.

Faced that in context of https://jira.camunda.com/browse/SUPPORT-13880

[2022-06-21 17:55] ManuelDittmar commented on #980
In C7 those changes were mentioned in the announcements https://docs.camunda.org/enterprise/announcement/

For C8 it is not listed in the announcements https://docs.camunda.io/docs/reference/announcements/

[2022-06-21 18:53] akeller opened #981 "Optimize docs show the right version"
**_This work was started prior to the PDP._**

### Value Proposition Statement
Optimize is a component available for users in C7 and C8, but Optimize documentation sits entirely in C8 documentation meaning it looks like Optimize docs are fully aligned to C8 versioning, which is incorrect.

### User Problem
For new C8 users, there is largely no impact.

For C7 users, determining what version of Opt

[2022-06-22 11:33] Hafflgav commented on #794
We decided to not include a fundamental guide to our documentation. If you stumble across this issue you can find some more information about how to get started with graphQL in this blogpost: https://camunda.com/blog/2022/05/getting-started-with-camunda-platform-8s-graphql-api/

[2022-06-22 11:33] #794 closed

[2022-06-22 21:31] #963 closed, assigned to nobody

[2022-06-23 08:18] pihme commented on #963
@akeller FYI: I have removed the examples from the Zeebe repo. The link in the currently published documentation is still valid and points to a page which informs that the examples have been moved.

[2022-06-27 04:15] saig0 opened #986 "I can read about cycle timer definitions with start time"
With Zeebe `8.1`, we added a new feature to specify a start time for a cycle timer definition of a timer start event (issue: https://github.com/camunda/zeebe/issues/3038, pr: https://github.com/camunda/zeebe/pull/9418).

We need to add documentation for it. This included:

- [ ] update BPMN docs: https://docs.camunda.io/docs/components/modeler/bpmn/timer-events/#time-cycle

[2022-06-27 14:39] Ben-Sheppard opened #987 "I can read about how to configure logging for Identity"
## Description
As a user of the Identity component I would like to be able to read documentation that explains how I can customise the logging provided.

## Acceptance criteria
- [x] A new guide exists that explains logging in identity, this guide should:
  - [x] Describe the framework used
  - [x] Describe the variables used for customisation
  - [x] Describe the default values
- [x] The [configu

[2022-06-27 16:12] akeller commented on #940
Based on V1 of the internal docs vision, this was the best place for this content at the time. We've also had some internal discussions around moving Best Practices to the top navigation header as its own section which I look to include in V2 of the docs vision.

For now, this is low priority. The majority of our traffic into docs comes from Google Search so _where_ things sit in docs isn't as rel

[2022-06-27 16:18] akeller commented on #930
@christinaausley This feels like mostly a presentation issue. Can you look at making this link more obvious and near the top of the page?

[2022-06-27 16:22] akeller commented on #826
We will align removing the banner with the 8.1 release.

[2022-06-27 16:25] akeller commented on #860
I like this for SEO on worker docs. If you commit to kebab case, please work with @christinaausley to add it to the style guide and update the guides content, if necessary, as well.

[2022-06-27 16:27] akeller commented on #587
@pepopowitz FYI since you'll be working on versioning changes. My guess is this will be moot with those changes, and if so please close it.

[2022-06-27 17:11] christinaausley commented on #941
I think so long as links are disclaimed as a "hey, this is going to take you to C8 content" to avoid confusion between the doc sets this would be fine. For example, "For more information on Optimize as it relates to Camunda Platform 8, visit our [Camunda Platform 8 Optimize documentation](https://docs.camunda.io/docs/components/optimize/what-is-optimize/).

As @toco-cam opened the issue, I am curi

[2022-06-27 18:35] pepopowitz commented on #587
@akeller I'm looking for clarification/confirmation that the changes demonstrated in #910 will give you the result you're looking for. I _think_ that they will, but want to point out a couple details to be sure --

1. There will be no "Latest" option in the version dropdown. There will instead be the latest version number, e.g. `1.3`.
2. There will be a new "Next" option in the version dropdown. T

[2022-06-27 19:16] akeller opened #989 "On prem server setup was difficult to follow"
This is anecdotal feedback from the onboarding interviews so the details aren't really there.

From a quick skim through our Kubernetes + Helm and Docker docs, it looks like you need to have some amount of fundamental understanding of those technologies to get up and running, and that may be where the issue lies. How do we want to handle this assumed knowledge?

This is also an important topic bec

[2022-06-27 19:31] akeller opened #990 "Users cannot edit XML in Web Modeler"
If users want to edit XML, they should use Desktop Modeler. This can be added as an admonition.

We have anecdotal evidence from onboarding interviews that suggest users with BPMN experience are more comfortable editing the XML directly, including for making conditions with exclusive or gateways.

If this changes in the future, we should remove any changes we make that are part of this issue.

[2022-06-27 19:32] akeller commented on #990
@christinaausley assigning this to you with the idea that it's something you can tackle in Q3 (or now if you have time). The content may change a little as I apply this issue to the PDP process, but the overall idea still stands.

[2022-06-27 19:36] akeller opened #991 "API reference should include errors and descriptions for parameters"
Depending on the API, we're missing some information from the docs (see list below). Including these makes the APIs easier to learn and work with. Ideally, our APIs are available in OpenAPI/Swagger, for users to have a more intuitive experience when working with any modern API.

Things we're currently missing from API docs (in varying states):
* Return object
* Possible errors
* Descriptions for p

[2022-06-27 19:37] akeller commented on #991
@pepopowitz assigning this to you for Q3. You'll likely need to work with the individual product teams that own the development of the APIs and possibly even pull in @christinaausley for descriptions. If this gets large, and it might, I'll look to you to help us scope it for something impactful and achievable in increments over time.

[2022-06-28 06:18] berndruecker commented on #860
Just to get that: you (@akeller)  would like to see this best practice to improve SEO for the docs? So you vote to raise prior for it - correct?

And then if we have added it we should stick to it (step 2).

[2022-06-28 06:31] falko commented on #860
Another option would be to use method name style of your target programming language, e.g. camel case for Java 🐫. This would mean some variation across projects but could increase familiarity for developers, as a worker is often implemented as a method which could then have the same name. One could even derive the job type from the method name dynamically to make the code more DRY

[2022-06-28 15:11] akeller commented on #587
#910 is exactly what we are looking to address here. If you look at C7 docs, you'll see our current users are familiar with a mix of numbered and named versions (develop, latest).

[2022-06-28 15:15] akeller commented on #860
I have no opinion on the casing or naming best practices other than when we decide on one let's update the rest of the docs to reflect our commitment to that recommendation.

From an SEO standpoint, I was curious if developers know what a job worker or worker is or if they have other terms for it. Based on Falko's response, it sounds like he refers to them as service or service operation. This is

[2022-06-28 15:20] pepopowitz commented on #587
Ah, cool. Thank you! I agree then that this issue is unneeded, since it will be resolved with the changes demonstrated in #910. Closing!

[2022-06-28 15:20] #587 closed

[2022-06-28 15:34] christian-konrad opened #993 "Broken link in the java client POJO as variables usage example"
There is a broken link in the java client POJO as variables usage example: https://docs.camunda.io/docs/apis-clients/java-client-examples/data-pojo/

![Bildschirmfoto 2022-06-28 um 17 34 35](https://user-images.githubusercontent.com/56470362/176220582-8c65c235-97f4-49d0-bf13-f4ae44cfa90b.png)

[2022-06-28 20:57] pepopowitz opened #997 "Synchronize node version between CI & local"
This is followup work to #976.

In that PR we introduced [a .nvmrc file](https://github.com/camunda/camunda-platform-docs/blob/main/.nvmrc) to specify node versions for local environments. It does not currently match [the exact specified version for CI](https://github.com/camunda/camunda-platform-docs/blob/main/.github/workflows/build-docs.yaml#L24), though (`16.15.1` vs `16`). We should synchroni

[2022-06-28 21:02] akeller commented on #981
Moving this to the Product Hub.

[2022-06-28 21:02] #981 closed

[2022-06-29 12:26] berndruecker opened #1001 "Adjust java client samples to new home"
See https://forum.camunda.io/t/zeebe-git-examples-unaccessible/38459 - the examples have moved to https://github.com/camunda-community-hub/camunda-8-examples

Need to update links in https://docs.camunda.io/docs/apis-clients/java-client-examples/process-instance-create/ etc...

See this issue for further background: https://github.com/camunda/zeebe/issues/9500

[2022-06-29 14:40] akeller commented on #1001
@berndruecker are you adjusting this or should @christinaausley look into it?

[2022-06-30 04:58] aivinog1 commented on #958
Hello @akeller @Zelldon!

If @Zelldon is too busy or unavailable, I can propose a PR to this as well :)

[2022-06-30 06:05] Zelldon commented on #958
Hey @aivinog1 that would be great!

[2022-06-30 10:26] berndruecker commented on #1001
Created https://github.com/camunda/camunda-platform-docs/pull/1007 - feel free to merge it after review (not sure if we need a review really for everything and don't want to add more wine to the bill ;-))

[2022-06-30 21:33] akeller opened #1009 "Javadoc links may link to old Javadoc versions"
Renaming `io.zeebe.*` to `io.camunda.*` we seemed to rename the text but not the actual link, causing the links to send users to old versions of the Javadocs.

https://docs.camunda.io/docs/apis-clients/java-client/#bootstrapping

`See [io.camunda.zeebe.client.ZeebeClientBuilder](https://javadoc.io/doc/io.zeebe/zeebe-client-java/latest/io/zeebe/client/ZeebeClientBuilder.html) for a description of a

[2022-06-30 21:38] akeller commented on #1009
@christinaausley this is super subtle but essentially in the URLs you are looking to replace `io.zeebe` with `io.camunda` **and** `/io/zeebe/` with `/io/camunda/`. These should be isolated to the Java client pages and this may be the only one, I didn't look. Are you up for chasing this one down?

[2022-07-01 17:21] christinaausley commented on #1009
Happy to tackle this!

[2022-07-01 21:43] #930 closed

[2022-07-04 07:52] #970 closed

[2022-07-04 08:16] #966 closed

[2022-07-05 07:14] berndruecker opened #1021 "Hint people to not connect ingress unproected to the Internet"
We are regularly seeing that users add Ingress for the Zeebe Gateway and open this up unprotected to the Internet, because they think they need that access (e.g. to deploy models).

@falko proposed some BP like:

We might need to figure out our best practice and how to document it.

[2022-07-05 12:34] #943 closed

[2022-07-05 18:19] pepopowitz opened #1024 "Bring docusaurus dependencies up to date"
Docusaurus dependencies have been stuck at version beta-15 for some time, due to Algolia DocSearch migration. For security & maintenance reasons, we should bring them as up to date as possible.

Work included in this issue (some may be combined if they prove to be small/easy updates):

- [x] #1015
- [x] #1036
- [x] #1068
- [x] #1085
- [x] #1100
- [x] #1025
- [x] #1114

cc @akeller for visibility

[2022-07-05 18:58] akeller commented on #1024
Cheering you on from the sidelines! Let me know if you need extra eyes on anything.

[2022-07-06 11:45] aivinog1 opened #1028 "Documentation Bug: As a reader of documentation I'm expecting to see proper configuration options for the management port of Zeebe Gateway and Zeebe Broker"
The problem with [this page](https://docs.camunda.io/docs/self-managed/zeebe-deployment/operations/health/), it reflects removed configuration settings about management ports. Also, see: #861

[2022-07-06 11:51] ingorichtsmeier opened #1029 ""More Filters" in Operate"
I'm missing some description how the More Filters in Operate work.

I would like to forward a link to docs about this topic. Also, I'm not sure how to search for values with jokers (*) or for a combination of two or more variables.

[2022-07-06 14:40] aleksander-dytko opened #1032 "Data retention policy"
As a user, I want to be able to read about data retention policy in Operate - I don't want to be surprised that data is deleted after 30 days. This related to Camunda 8 SaaS

Currently, there is no section about that in docs.

[2022-07-06 14:42] akeller opened #1033 "Add instructions for how to run Prettier to docs guidance"
_Originally posted by @berndruecker in https://github.com/camunda/camunda-platform-docs/issues/1026#issuecomment-1175826452_

[2022-07-06 14:49] aleksander-dytko opened #1034 "Recommend to use Identity for LDAP for Operate authentication"
Make a bit clearer in documentation that we recommend using Identity for Ldap in Operate / Tasklist. We can make this very clear like "We highly recommend using Identity for LDAP support since configuring LDAP in Operate directly might be deprecated in the future".

### Links
[Support ticket](https://jira.camunda.com/browse/SUPPORT-13519)
[Documentation](https://docs.camunda.io/docs/self-managed/o

[2022-07-06 15:18] aleksander-dytko opened #1035 "Decisions section in documentation of Operate"
In the Operate documentation, there is no mention about Decision Definition / Decision Instances and what can I do with them. There is word "Decisions"in the nav bar, but in there is no example of features.

[2022-07-06 19:06] akeller commented on #1033
Documented here - https://github.com/camunda/camunda-platform-docs/blob/19a32339065d85593f6cd12a95313b6aea530183/CONTRIBUTING.MD#code-formatting

[2022-07-06 20:09] akeller opened #1037 "Reorder component list & introduce the GSG structure"
Our [Intro page](https://docs.camunda.io/docs/guides/) on the GSG could use a little work.

## Reorder component list
![image](https://user-images.githubusercontent.com/1051363/177633884-80559532-922f-41ac-930f-f0d34dab672f.png)

I'm not sure what the order is for the components, but let's introduce them in order of appearance.

* Console
* Web Modeler
* Zeebe
* Tasklist
* Operate
* Optimize

## I

[2022-07-06 20:14] akeller opened #1038 "Rename "overview" and "introduction" pages & URLs to something more descriptive"
Pages and URLs with "overview" or "introduction" lack context about what kind of content might be found on these pages. URLs help, so do page breadcrumbs, but without unique page names tools like Google Analytics struggle to describe which one of the many overview and introduction pages we are actually looking at in the metrics.

These pages should not only be named something more descriptive, we

[2022-07-06 20:36] akeller opened #1039 "Zoomable images"
#455 covered this, but we couldn't implement it with the mismatching sizes and resolutions for screenshots.

This work is dependent on #115 and we may not need zoomable images at that point.

[2022-07-06 20:39] akeller opened #1040 "Scalable solution for redirects"
Our redirects/rewrites are all handled in an `.htaccess` file. Some may be outdated at this point or redirects of redirects, all we have to catch manually as we add new redirects. This feels clunky and manual.

Is there a more scalable solution for handling redirects?

[2022-07-06 20:40] #1001 closed, assigned to berndruecker

[2022-07-06 21:06] christinaausley commented on #934
@akeller I've followed up with @HanselIdes and after a second look this is no longer an issue. Shall I close as not planned?

[2022-07-07 09:26] lenaschoenburg opened #1042 "Add an overview of well-known limitations"
As a developer who sometimes has to support customers and answer questions, I'm missing something that I can link to that lists some well-known limitations of C8. Without such a page, I'm often not sure what these limitations are and how to best explain them to a customer.

Please note that I mean "limitations" in the sense of missing features or features that cause issues in certain conditions, a

[2022-07-07 20:23] akeller commented on #110
@christinaausley can I assign this to you to continue leading?

[2022-07-08 09:17] #944 closed

[2022-07-08 15:43] christinaausley opened #1046 "alt text for BPMN diagrams"
To meet accessibility standards, but also make this content available for low-bandwidth geos if the image doesn't load. This includes seeing if OMG has recommendations, and potentially working with web marketing. "Quick" solution is to link to the BPMN instead of building it.

[2022-07-09 19:09] christian-konrad opened #1048 "Replace the GIF with a text description on the "How to model a diagram" page"
The demo animation in https://docs.camunda.io/docs/components/modeler/bpmn/ should be updated, showcasing the new Desktop or Web Modeler, including all new actions (i.e. multi-select, alignment).

Is this urgent? No. Modeling itself is quite self-explanatory. But we shouldn't have something that is outdated for too long on the docs.

[2022-07-11 08:42] npepinpe opened #1049 "Document how to deploy Helm charts to OpenShift"
**Description**

Write a documentation guide explaining how to deploy the Helm charts to OpenShift, using the results of https://github.com/camunda/camunda-platform-helm/issues/347 as a base.

For the first iteration, we should aim to simply explain how to deploy the charts to OpenShift, such that the out of the box experience is the same as deploying them to any other Kubernetes installation. So

[2022-07-11 08:49] christian-konrad opened #1050 "Create entry point for "Integration Framework" documentation in the Modeler component sections"
With the introduction of the [connector template editor in the Web Modeler](https://github.com/camunda/product-hub/issues/64), element templates are no longer a Desktop Modeler - only feature. Therefore, we need to document it in the scope of the Web Modeler, too.

Once we retrieve the [latest element template schema](https://github.com/bpmn-io/bpmn-js-properties-panel/issues/690) in the Web Model

[2022-07-11 09:45] aleksander-dytko opened #1051 "Documentation about identity providers for SaaS"
### Customer problem

- As a customer, I'm not able to find if Camunda 8 SaaS offers identity providers integration and how to do that - there is no documentation about that.

### User story
- As a customer I'm able to find documentation about supported IAM providers such as Keycloak, LDAP, AD
- As a developer I know what Camunda needs from my organization side to be able to connect IAM with Camun

[2022-07-11 11:05] MaxTru commented on #1050
Will be driven by Connectors Team

[2022-07-11 16:23] akeller commented on #1050
This aligns with the docs vision nicely. Thank you 😄

[2022-07-11 19:41] MaxTru commented on #1050
Thanks @akeller for confirming.

With this issue we would like to restructure the Connector Docs. Do we already have a concept in place for Connectors that we could re-use or build on?

[2022-07-11 22:20] #915 closed

[2022-07-11 22:20] #916 closed

[2022-07-12 07:12] MaxTru commented on #1050
Thanks Amara.

We (Connectors Team) will sketch something and come back to you.

[2022-07-12 11:02] HanselIdes opened #1054 "Clarify Email Configuration in C7/C8SM"
**Problem:**
The [Alerts page](https://docs.camunda.io/docs/components/optimize/userguide/additional-features/alerts/) suggests that you only have to configure the email service in C7.

**Recommendation**
It's more accurate to say that in self-managed options (C7, C8SM) you must configure the email service to receive notifications. For Optimize, C8SM is more similar to C7 than C8 SaaS for many cas

[2022-07-12 13:42] MaxTru commented on #1050
Current thinking:

![image](https://user-images.githubusercontent.com/42800119/178504115-e2bfd701-10ed-4e94-8c6b-561ab0920c39.png)

[2022-07-12 16:30] akeller commented on #838
This step was removed from the GSG and only included in https://docs.camunda.io/docs/guides/orchestrate-microservices/#create-credentials-for-your-zeebe-client without `zbctl`.

[2022-07-12 16:31] akeller commented on #848
Most badging was removed when the GSG was refactored in #867. Setting this to low priority.

[2022-07-13 10:16] christian-konrad commented on #1050
@MaxTru great approach.

[2022-07-13 11:19] McAlm opened #1055 "Complete Overview of differences SaaS vs self-managed"
As a user / customer / Camundo I want to deeply understand the differences of both versions, not only component wise but also with technically limitations/restrictions:

- Components
- Authentication mechanism / supported IAM providers
- custom streaming-exporters
- ServerInterceptors
- Connectors
- Connector Framework
- ? tbd..

[2022-07-13 17:46] akeller opened #1057 "Clarify secret handling for connectors"
Update this page - https://docs.camunda.io/docs/components/console/manage-clusters/manage-secrets/

Secrets are not variables and therefore have to be surrounded by quotes. i.e. instead of = { myHeader: [secrets.MY](http://secrets.my/)_SECRET} it has to be = { myHeader: "[secrets.MY](http://secrets.my/)_SECRET"} which is surprising at first as people assume secrets are variables.

Secrets are curr

[2022-07-13 21:20] akeller opened #1059 "Connectors documentation needs a style guide review"
Connectors docs (/components/modeler/web-modeler/connectors/) needs a style guide review to correct various issues including capitalization & punctuation.

Please try to plan this around other connectors docs work to prevent significant merge conflicts. 🙏

[2022-07-15 14:55] MaxTru opened #1063 "Secrets document is not precise"
### Describe the bug

https://docs.camunda.io/docs/components/console/manage-clusters/manage-secrets/ explains that:

This is not correct. Secrets can be used in some fields in the propPanel. They are inserted not as variable, but using string replace. Hence in some places they have to be put into `"`.

### Steps to reproduce

Read https://docs.camunda.io/docs/components/console/manage-clusters/ma

[2022-07-15 15:03] wollefitz commented on #1063
Additionally to what is written in the description, as a user I would expect the documentation mention limitations like https://github.com/camunda/cloud-connector-http-json/issues/45 (i.e. at least for the REST Connector, secrets are only replaced if the string only consists of the secret and nothing else) until this behavior is changed. This should be covered by "Clarify which fields allow secret

[2022-07-15 23:12] pierre-yves-monnet commented on #964
Hello,
Comparing this document with C7 feature, I have the feeling this  is not possible for the service task (the worker) to specify a delay before the retry.
_" if the retries argument is positive, the job is immediately activatable again, and a worker could try again to process it."_

in C7, if I'm correct, it is possible for a worker to specify a delay before propose again the job to a worker.

[2022-07-18 19:41] HanselIdes commented on #1054
PR opened, requested, and linked @akeller
You should be so proud of my elementary git skills

[2022-07-19 17:01] #1037 closed

[2022-07-19 20:26] akeller commented on #692
@christinaausley do you think this issue is still relevant after the restructure of the Optimize content?

[2022-07-19 23:06] christinaausley commented on #692
There weren't any changes to this in the Optimize restructure other than confirming that it is Camunda Platform 7 only, but I've followed up with @HanselIdes for thoughts on how we can clarify in the docs.

[2022-07-20 08:57] HanselIdes commented on #692
@christinaausley / @akeller
Combined Report and Combined Process Report are interchangeable.
The UI uses Combined Process Report, so I suggest consolidating around that terminology in the short term
<img width="393" alt="image" src="https://user-images.githubusercontent.com/17521551/179940891-992902b9-96d1-4538-bcb4-44a5421ab327.png">

Sometime in the future, Combined Reports will be deprecated an

[2022-07-20 14:16] #1054 closed

[2022-07-20 18:23] #1038 closed, assigned to christinaausley

[2022-07-20 19:37] akeller commented on #692
@christinaausley can I assign this to you to use "Combined Process Report"? That will close out this issue.

[2022-07-20 21:12] christinaausley commented on #692
@akeller Absolutely -- I'll adjust any references in a PR.

[2022-07-21 08:05] MaxTru commented on #1050
Will tackle this after my vacation (in ~3 weeks)

[2022-07-21 09:40] berndruecker opened #1074 "Sizing BP - numbers not completly in sync"

[2022-07-22 07:13] npepinpe opened #1078 "Zeebe self-managed logging configuration is broken"
You can see [here](https://docs.camunda.io/docs/self-managed/zeebe-deployment/configuration/#google-stackdriver-json-logging) that we try to "include" a file from somewhere. I'm not sure if this is meant to work, or if this is just a remnant from our previous docs (probably the latter).

We should either remove this block of code, or fix it (is it possible? do we even have a way to embed code from

[2022-07-22 16:00] akeller commented on #1078
Quick fix - let's remove it.

Slightly longer fix - link to https://github.com/camunda/zeebe/blob/main/dist/src/main/config/log4j2.xml. Since this file looks relatively static (no updates since May 2021), and relatively small, we could copy the whole thing into a code block.

Possible more involved - stick it in an iframe or something MDX compatible(?). I would punt this to @pepopowitz to work out

[2022-07-25 08:44] npepinpe commented on #1078
I'm fine with removing it. It would be nice long term to include snippets of code directly from the main repo, esp. for configuration and code examples. I did that in another project for sample code - the sample code was then also tested as part of the project CI, so we were sure examples would always work.

Anyway, for this one I think it's fine to remove for now :+1:

[2022-07-25 09:25] aleksander-dytko opened #1080 "Incorrect ports for Docker image on the website"
In the tooltip on https://camunda.com/download/self-managed/docker-compose/, there are incorrect ports listed:
![image](https://user-images.githubusercontent.com/102789122/180744018-d3a44146-e179-4568-8a2b-426686ed13a4.png)

The correct ones are:
Operate: 8081
Tasklist: 8082
![image](https://user-images.githubusercontent.com/102789122/180744250-9b33e62c-9a9d-46bb-9c8c-54c8ccdd6246.png)

[2022-07-25 09:26] aleksander-dytko commented on #1080
@akeller is this something that your team can take care of or should I request the change differently? Thanks ;)

[2022-07-26 07:53] aleksander-dytko commented on #1080
Ticket in web marketing Asana created

[2022-07-26 07:53] #1080 closed

[2022-07-28 07:42] #986 closed

[2022-07-28 16:28] #692 closed

[2022-07-29 07:41] menski opened #1101 "Navigation in version documentation not possible"
# To reproduce

1. open the [documentation](https://docs.camunda.io)
2. select a version [other than latest](https://docs.camunda.io/docs/1.3/guides/)
3. click any link in the navigation (guide, components, apis & clients) except reference
4. the documentation again shows the latest version of the page, and not the selected one

# Impact

As a user I cannot use the normal navigation to reach the c

[2022-07-29 15:38] pepopowitz opened #1103 "Sporadically slow link-checking"
Originally reported [in Slack](https://camunda.slack.com/archives/C026U8GBNSW/p1658935962571689)

Over the past few days, the `build-docs` action occasionally takes a very long time. It seems to get hung up on checking links.

Example runs:
- [example 1](https://github.com/camunda/camunda-platform-docs/actions/runs/2746917140)
- [example 2](https://github.com/camunda/camunda-platform-docs/actions/

[2022-07-29 15:40] pepopowitz commented on #1103
It's only been a day, but I don't see any slow runs since #1097. I'd be surprised to find out that some incorrect links was causing the checks to hang indefinitely, but also 🤞 I'd be happy to find out that resolved it.

[2022-07-29 16:38] pepopowitz commented on #1101
Okay, I think I can explain what's going on here.

I think it's related to the work we've been doing to replace vague file names (ex: #1077, #1071, #1069). We've been changing doc-id's in the [current docs](https://github.com/camunda/camunda-platform-docs/pull/1071/files#diff-5a182bf7a2e62e00270c8b85d258a5be961142c486662437bc17674f56dca653L2) and [docusaurus.config navbar settings](https://github.

[2022-07-29 17:13] christinaausley commented on #1101
After discussing with @pepopowitz via Slack, he's going to take a look at option #1. If this doesn't work, I'll plan to launch a PR for each version updating all of the old doc version IDs/implementing redirects.

[2022-07-29 19:35] pepopowitz commented on #1101
No good news to report regarding the `docsVersion` navbar item, unfortunately. The documentation left me hopeful that this was the answer we were looking for, but it is for a different use case.

Basically, it is used to link to the "default" document for the currently browsed version. If I'm on any page within the 1.3 docs, a `docsVersion` navbar item links me to `/docs/1.3/guides/`; on any page

[2022-07-29 19:43] christinaausley commented on #1101
All good @pepopowitz. The good news is I can clearly see in each PR which ids were changed. I'll begin launching PRs for each version this week and next week.

[2022-07-29 20:20] pepopowitz opened #1104 "Auto-format commits that come through GitHub UI"
For contributors who commit through a local environment, we run prettier to auto-format changes via a pre-commit hook. If a contributor makes a commit through the GitHub UI, however, that pre-commit hook does not run. Recent examples: #1089 and 1094.

This often results in unformatted code being committed, and CI failing because it runs prettier to _validate_ the format. This is unfriendly frictio

[2022-07-30 17:13] akeller commented on #1104
I like your menu of options here @pepopowitz!

Option 3 is my favorite, mainly because the formatting changes that seem to fail the build the most are the ones associated with tables but also with infrequent docs contributors.

My question for both 1 & 3 is will the action be able to commit to a forked branch unless the contributor specifies? Or would it also fail? That has me leaning more towards

[2022-07-30 22:25] #1059 closed

[2022-07-30 22:44] #1101 closed

[2022-08-01 09:29] McAlm opened #1107 "Consolidate supported environments (esp. ElasticSearch) for Optimize in C7"
The documentation about Optimize and supported environments for C7 needs more consolidation.
**Supported Environments:**
[supported-environments](https://docs.camunda.io/docs/reference/supported-environments/) does not list supported ElasticSearch versions for C7 (if it is the same it could be mentioned in the chapter, but currently it is simply not clear.
But can be found here (is not linked from

[2022-08-01 10:59] Zelldon commented on #1078
Look what I found https://github.com/saucelabs/docusaurus-theme-github-codeblock :D

Sounds like what we would want to have just writing:

[code]

[2022-08-01 14:21] menski opened #1111 "When navigating to Guides, I'm returned to the latest version of the documentation"
## Steps to reproduce

1. Open the documentation
2. Select a version other then latest
3. Navigate to Components section
4. Navigate to Guides section -> :zap: Documentation returns to latest version

![version-bug](https://user-images.githubusercontent.com/516296/182169011-17406f37-652f-42cd-96b3-9d9804272805.gif)

## Expected Behavior

In step 4. I expect the documentation to stay in the selecte

[2022-08-01 20:36] pepopowitz commented on #1111
@christinaausley @akeller I'm not sure how much of this you'd investigated over the weekend, but if you hadn't looked into this issue yet, the cause is that in #1066 we changed the ID of the default guides page to `introduction-to-camunda-platform-8`. It makes sense that we didn't also change the ID of the older versions....but to fix this issue, we'll have to come up with an ID that can be used a

[2022-08-02 12:54] saig0 commented on #964
The new feature makes it possible for a job worker to define a backoff when marking a job as failed. As a result, the job will not be retried immediately but after the given duration. Similar to the feature in Camunda Platform 7.

[2022-08-02 14:35] pepopowitz commented on #1104
This is a good point -- I'm not sure how well 1 & 3 would work on forks that don't grant access. I do see [this comment](https://github.com/actions/checkout/issues/455#issuecomment-1079943559) that indicates that it is possible to commit as a bot to a forked PR....I would definitely want to experiment with this before coming to a conclusion.

My feeling about this is that we should save that exper

[2022-08-02 14:37] pepopowitz commented on #1104
Oh and then there's [an episode of Learn With Jason featuring Brian Douglas on this topic](https://www.learnwithjason.dev/github-actions-with-forked-prs) and I'm 100% sure those superstars would have talked about this. I'll watch soon and report back.

[2022-08-02 20:58] pepopowitz commented on #1104
Some more notes --

1. It looks like [there is a setting we can check](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository#enabling-workflows-for-forks-of-private-repositories) that will grant `write` permissions to the github token used by a workflow running on a fork.
2. An

[2022-08-02 21:07] pepopowitz opened #1115 "Default to latest tagged version; provide unstable "next" version"
Epic: https://github.com/camunda/product-hub/issues/231

Our current approach to presenting versions is to default to the “latest” version, and have all other versions be tagged with a number. Docusaurus’s approach, and [the approach they best support](https://docusaurus.io/docs/versioning#configuring-versioning-behavior), is to default to the last tagged version, have past versions available by t

[2022-08-02 21:16] pepopowitz opened #1116 "Configure multi-instance versioning"
Epic: https://github.com/camunda/product-hub/issues/231
Prerequisite: #1115

Optimize versions are different than the versions of the other Camunda components. [Docusaurus recommends using multiple instances of the docs plugin](https://docusaurus.io/docs/next/docs-multi-instance#mobile-sdks-documentation) to enable users to see different versions for different docs.

## Work to be done

### Prepar

[2022-08-02 21:18] christinaausley commented on #1111
This makes sense. As far as the id name? Hmmmm -- simply `introduction-to-camunda` perhaps? Interested in what @akeller thinks once she's back in the office.

[2022-08-03 12:22] lzgabel opened #1117 "I can read about cycle timer definitions with cron expressions"
With Zeebe 8.1, we added a new feature to specify cron expressions for a cycle timer definition of a timer start event (issue: https://github.com/camunda/zeebe/issues/https://github.com/camunda/zeebe/issues/9673, pr: https://github.com/camunda/zeebe/pull/9674).

We need to add documentation for it. This included:

 * [ ]  update BPMN docs: https://docs.camunda.io/docs/components/modeler/bpmn/timer

[2022-08-03 15:08] berndruecker commented on #444
@akeller I send out the link to the issue and the image draft quite often - any chance we get that into the docs properly?

[2022-08-04 15:46] akeller opened #1119 "Update Documentation Guidelines for new reviewers"
We've had some EMs and leads move around the components and we need to update the reviewers list.

[2022-08-05 09:15] menski commented on #1078
fixed by #1106

[2022-08-05 09:15] #1078 closed

[2022-08-05 12:14] saig0 opened #1120 "I can read about the gRPC process instance modification command"
## Description

With Zeebe `8.1`, we added a new gRPC API for process instance modification (https://github.com/camunda/zeebe/issues/9659).

We should add the new command to the gRPC API docs: https://docs.camunda.io/docs/apis-clients/grpc

[2022-08-05 12:20] saig0 opened #1122 "I can read about the process instance modification as a concept"
## Description

With Zeebe `8.1`, we added a new feature to modify a process instance (https://github.com/camunda/zeebe/issues/9570). This is a complex feature and it is important that users understand the concept.

We should document the concept behind the feature, similar to other concepts like [Process instance creation](https://docs.camunda.io/docs/components/concepts/process-instance-creation

[2022-08-05 15:02] pepopowitz commented on #1024
Marking this done!!!! We're not fully up-to-date because they just released 2.0.0, but this got us close enough that future updates should be pretty routine.

[2022-08-05 15:02] #1024 closed

[2022-08-05 21:56] #1103 closed

[2022-08-08 14:20] MaxTru commented on #1050
Hi @akeller,

this is to inform you that we will pull this into the current iteration. So please expect at PR for this in the next 2 weeks. Hope this is okay.

Thanks
Max

[2022-08-08 16:10] korthout opened #1126 "I can read about Inclusive Gateway"
The diverging inclusive gateway is added to Zeebe in https://github.com/camunda/zeebe/pull/9747 as an external contribution. Of course, all the Camunda Platform 8 need to be aligned and support the feature.

We need to document how users can use the diverging Inclusive Gateway and how it behaves. The behavior is specified in the PR.

Special modeling rules exists, and can be found in:
- https://gi

[2022-08-08 19:09] akeller commented on #1078
@pepopowitz good backlog item & partnering with @christinaausley to find where we could use it today, then make it available to our engineers for future docs.

In fact, I see this helping to solve our accessibility issue with BPMN diagrams by embedding the XML. Maybe as a toggle or tabbed experience? 🤔 I'll create a new issue here.

[2022-08-08 19:11] akeller opened #1127 "Embedded codeblocks"
_Originally posted by @akeller in https://github.com/camunda/camunda-platform-docs/issues/1078#issuecomment-1208503422_

[2022-08-08 19:15] akeller commented on #1127
This is maybe not as granular as it looks -

1.  Add Plugin (tiny 🦔  for @pepopowitz )
2. Find current use cases (?? for @christinaausley & @pepopowitz)
3. Find new use cases like BPMN diagrams (?? for @christinaausley & @pepopowitz)
4. Write implementation docs and let engineering know it's available (tiny 🦔 for @christinaausley or @pepopowitz)

[2022-08-08 21:16] pepopowitz opened #1129 "Fatal exception: Depleted resources"
# TL;DR

I am out of Cheetos.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/1627089/183514615-81795d82-6ecb-4988-9a27-b0c15f37d2d5.gif)

## Background

When I started at Camunda [I had 40 bags of Cheetos](https://twitter.com/pepopowitz/status/1509632600108941316). As of this afternoon, I have 0 bags of Cheetos.

Yes I have only eaten on average 10 bags per month, but every one

[2022-08-08 21:27] akeller commented on #1129
_Minding my own business working down all my notifications and triaging things for Q3, Q4, and beyond._
_Gets distracted trying to book travel for November._
_Checks Trello before getting back to the things I actually need to do today..._
"WHAT IS THIS....?!"

And then I saw the watch and was like "he's over there making his own gifs" 😆

[2022-08-08 21:30] pepopowitz commented on #1129
Wow my watch is part of my brand at this point????!!!

Also if you're wondering, YES, I have been _aching_ to open this issue for weeks, since I first noticed I was getting low on supplies.

[2022-08-08 21:39] akeller commented on #1107
@toco-cam @RomanJRW can you take a look at this issue? It sounds like the request includes moving some of the information from [the table](https://docs.camunda.org/enterprise/download/#production-distribution-without-elasticsearch) over. Please have your team triage and PR this.

[2022-08-08 21:41] akeller commented on #1111
I'm good with this @christinaausley.

[2022-08-08 21:44] akeller commented on #1129
- Me to Mary on March 16, 2021

I onboarded Nov 1, 2020.

[2022-08-08 21:58] pepopowitz commented on #1129
Happy to see this is a tradition

[2022-08-08 22:04] akeller commented on #444
@berndruecker I can look into adding this sometime this week. Do you have an updated version with Connectors?

[2022-08-09 09:24] RomanJRW commented on #1107
Thanks @akeller 👍
https://jira.camunda.com/browse/OPT-6385 created and in triage 🙂

[2022-08-09 14:12] felix-mueller opened #1133 "Add information about SSO support in C8 SaaS"
Slack convo: https://camunda.slack.com/archives/C02UMKN3DTL/p1660053563010809?thread_ts=1659981044.316289&cid=C02UMKN3DTL

https://camunda.slack.com/archives/C026U8GBNSW/p1664869671035629

Describe that we have support for external SSO for Enterprise customers on SaaS (using auth0).
Explain that customers need to reach out via support to get it setup.

[2022-08-09 14:56] pepopowitz opened #1135 "I can easily tell when I've committed a syntax error in .htaccess"
[Originally reported in Slack](https://camunda.slack.com/archives/C026U8GBNSW/p1660043063123249).

[This workflow](https://github.com/camunda/camunda-platform-docs/actions/runs/2824629370) timed out due to a syntax error in the .htaccess file, but there was no clear error message to indicate it.

It looks like the specific failure was on the step that waits for the local server to start up -- [the

[2022-08-09 18:37] akeller commented on #1050
I left a comment on the draft PR since we are planning to merge the versioning work this week, which may require some significant changes to the PR (or you may opt to reopen the PR). Steve will follow up on the PR with recommendations or guidance.

[2022-08-10 06:42] MaxTru commented on #1050
I read it and moved the changes to `8.0` and `next`. So this should be solved.

[2022-08-10 10:46] npepinpe commented on #1049
Closed via #1125

[2022-08-10 10:46] #1049 closed

[2022-08-10 21:32] #1050 closed

[2022-08-10 21:41] akeller commented on #1129
Is there a business need to send you more Cheetos? 🤔

[2022-08-11 10:19] #1117 closed

[2022-08-11 11:21] jjettenCamunda opened #1142 "Zbctl tutorial uses an outdated example process that cannot be deployed"
The example process used in the [zbctl get started tutorial](https://docs.camunda.io/docs/apis-clients/cli-client/cli-get-started/) is outdated, it uses `return` as a variable which is a reserved word in the current Zeebe version.

[2022-08-11 14:29] akeller opened #1143 "Investigate SEO for current docs version"
In https://github.com/camunda/product-hub/issues/232 we learned all sorts of things about SEO & versioned documentation. We should apply those findings to the C8 docs, to avoid reliving that painful experience.

## Acceptance criteria

* Only the current version (`8.1` for now) should be indexed and searchable from Google.
  * #1905 describes [an example URL](https://docs.camunda.io/docs/0.26/refe

[2022-08-12 06:29] Hafflgav opened #1146 "Referencing pyzeebe in the C8 documentation"
Hi team,
I wanted to initiate a discussion about which community python client we want to display on our documentation.
According to this [page](https://docs.camunda.io/docs/apis-clients/community-clients/python/) we are referencing to zeebe_python_grpc.

I do noticed that our community is also heavily relying on [pyzeebe](https://github.com/camunda-community-hub/pyzeebe).

Would it make sense to

[2022-08-12 06:34] Hafflgav commented on #1146
@jwulf I remember that you have worked together with Nele on pyzeebe some while ago. What is your intention about this?
Also tagging @akeller and @christinaausley here. ;)

[2022-08-12 06:40] Hafflgav opened #1147 "Overhaul docu for "How to link a form""
Within the Web Modeler the user can open up our documentation to learn more on how to link a form. The deep link displayed in the picture blow takes him to [this page](https://docs.camunda.io/docs/components/modeler/bpmn/user-tasks/#user-task-forms) which is not really a good fit.
![image](https://user-images.githubusercontent.com/30292227/184298231-f9e248c3-80e5-4c7f-b6da-5021630f6c27.png)

Users

[2022-08-12 14:25] pepopowitz commented on #1129
Won't someone think about the users?!?!?!

[2022-08-12 15:07] akeller commented on #1146
Great idea! Including pyzeebe makes sense to me. Also reminds me we have multiple Rust clients, but only one is mentioned.

Can you partner with @christinaausley and @xomiamoore and broaden this to include updates for all the community-supported clients? If you'd rather keep your time investment here small, go ahead and PR this, and @christinaausley can make a new issue with the remaining scope.

[2022-08-12 15:16] akeller commented on #1147
Is there a better doc link to send them to? The modeling team is responsible for choosing what doc links they used in the product and as far as I'm aware, we were not consulted on this.

I'd love for you to work directly with @christinaausley on this. I believe she received feedback on this when working on the [Guide](https://docs.camunda.io/docs/guides/utilizing-forms/) (Next steps, not GSG).

[2022-08-12 15:23] akeller commented on #1111
Did this get resolved?

[2022-08-12 16:13] akeller commented on #1048
@christian-konrad, I'll have more thoughts on this in my updated [Docs Vision 2.0](https://docs.google.com/presentation/d/122T4xcwOejuFbhQu0KpoAzL-rwCkaX6bUirym3IL_DE/edit?usp=sharing), but I'm likely going to advocate for removing GIFs from the docs for accessibility reasons.

When you say "modeling itself is quite self-explanatory," is there anything you feel we would need to add to substitute h

[2022-08-12 19:31] akeller commented on #1119
@camunda/modeling-dev, you'll be added to the reviewers list of Modeler with this update.

[2022-08-12 19:35] akeller commented on #1119
@pepopowitz you'll be added as Documentation Infrastructure reviewer. @RomanJRW you'll be added as the Optimize reviewer.

[2022-08-12 20:20] christinaausley commented on #1147
Agreed here. A better link may be https://docs.camunda.io/docs/guides/utilizing-forms/#connect-your-form-to-a-bpmn-diagram.

[2022-08-12 20:22] christinaausley commented on #1111
I'm happy to launch a PR @pepopowitz but didn't want to duplicate work if you were already on it. Let me know as I'm happy to proceed with changes.

[2022-08-15 07:14] sdorokhova opened #1151 "Document hot backup for Operate and Tasklist"
- [ ] document how to use Hot backup API of Operate and Tasklist
- [ ] adjust documentation of [Actuator settings](https://docs.camunda.io/docs/self-managed/operate-deployment/operate-configuration/#monitoring-operate)

[2022-08-15 14:13] pepopowitz commented on #1115
Woops, lost track! Closed by #1118.

[2022-08-15 14:13] #1115 closed

[2022-08-15 14:13] pepopowitz commented on #1111
I haven't done anything!!!

[2022-08-15 14:25] akeller commented on #1033
I actually think the problem requires us to reevaluate the `/howtos/` and revamp the README now that the project has grown.

[2022-08-15 14:26] akeller commented on #958
Looks like this was merged. Are we good to close this issue?

[2022-08-15 14:26] #958 closed

[2022-08-15 14:29] akeller commented on #839
This is [out](https://docs.camunda.io/docs/next/guides/implementing-connectors/), closing this issue!

[2022-08-15 14:29] #839 closed

[2022-08-15 14:30] akeller commented on #828
@berndruecker is this still something you'd like us to work on?

[2022-08-15 14:31] akeller commented on #691
This is outdated and likely irrelevant.

[2022-08-15 14:31] #691 closed

[2022-08-15 14:32] akeller commented on #773
Is this still an issue?

[2022-08-15 15:27] akeller opened #1154 "Add item to Documentation Board when PR needs docs review"
Goal: See things that need a "Docs review" show up on the Documentation Board in the "In Review" column.

Current way is manual - engineer assigns @christinaausley or @akeller when PR is "ready for docs review".

* https://github.com/actions/add-to-project
* Using labels for this?
  * Adding the label is the same thing as asking in a comment for a review
  * Author or PR owner should do a thing to

[2022-08-15 18:53] #990 closed

[2022-08-15 21:53] #1119 closed

[2022-08-16 00:08] #1111 closed

[2022-08-16 07:31] Hafflgav commented on #1147
Thanks for your responses! 👍
I agree with you @christinaausley here. The proposed link is way better.
Would it be a good idea if we additionally add a GIF to this section?

[2022-08-16 07:44] Hafflgav commented on #1146
Awesome @akeller! 😃
I will create a PR for pyzeebe later this week. Since I am not very familiar with Rust I would leave this hole topic for you @christinaausley.
If you would like me to take care of this, you could also send me some links to the client repositories which are not yet linked. 👍

[2022-08-16 09:00] igpetrov opened #1161 "Google Drive: Add docs"
Related to:
- https://github.com/camunda/product-hub/issues/237
- https://github.com/camunda/product-hub/issues/239
- https://github.com/camunda/cloud-connector-google-drive/issues/2

This task is to create an official documentation for the Google Drive Connector - Create Folder and Create File.

[2022-08-16 09:25] Hafflgav opened #1162 "Overhaul Microservice Orchestration Guide"
The current Microservice Orchestration Guide has some flaws and might need an update. Since it is now going to be featured in the Web Modeler Templates I want to make sure that the guide is as complete as possible.

### Necessary improvements
![image](https://user-images.githubusercontent.com/30292227/184844989-6ca497e1-e11e-48bb-929c-b887823a224b.png)
* The BPMN file does not contain labeled Star

[2022-08-16 09:27] Hafflgav commented on #1162
Hey @akeller and @christinaausley,
while working on the a template for the web-modeler I noticed that there is kind of a gap between the human task and microservice orchestration guide.
I have noted down a few things which wandered around in my mind. Do you have any feedback on these for me? 😄

Thanks so much in advance!
Sorry for keeping you busy :P

[2022-08-16 12:13] ingorichtsmeier opened #1164 "Provide more insight to Identity configuration"
There seems to be more variables to configure Identity and the connection to Keycloak than documented.

As an example have a look at this forum thread: https://forum.camunda.io/t/identity-didnt-start-after-changing-password-in-keycloak/39336

[2022-08-16 13:46] akeller commented on #444
@falko FYI

Here is the small update for the typo.
![Slide1](https://user-images.githubusercontent.com/1051363/184895361-0cc7ee44-c5a9-4d2f-82b8-0f992db1d50a.png)

[2022-08-16 17:03] pepopowitz opened #1167 "Investigate ways to reduce friction in cross-plugin markdown links"
Epic: https://github.com/camunda/product-hub/issues/231
Parent: #1116

Markdown links that cross from one docs plugin to another [look like they're going to introduce a bunch of friction](https://github.com/camunda/camunda-platform-docs/pull/1166#discussion_r947018939). We'd spend a lot of time worrying about linking docs to the correct version/URL, at the authoring, reviewing, and versioning step

[2022-08-16 18:30] akeller commented on #1164
@dlavrenuek can I assign this to you or someone on your team?

[2022-08-16 18:52] akeller commented on #1162
Hi @Hafflgav. I see the changes you mentioned in the description and addressed each of them below.

It may be helpful for you to understand some additional context there - the GSG elements are not meant to be comprehensive, but to introduce users to these specific topics as fast as possible. Any Guides in the "Getting started" section are intentionally lean, do not go into detail about modeling (f

[2022-08-17 11:39] dlavrenuek commented on #1164
@ingorichtsmeier @akeller I have created an issue in our repository for reference, otherwise we can not add it to our product board.

To move forward I would like to clarify what changes you would like to have added and what would the target audience (use case) be, so we have a better understanding where to add the new info. Are you referring just to the env configuration in [this answer](https://

[2022-08-17 12:08] aleksander-dytko commented on #914
@sdorokhova @ralfpuchert is this one completed or is something left there to do?

[2022-08-17 21:02] pepopowitz opened #1171 "Add regression testing"
We should add some level of regression testing.

* #1087 suggests that, assuming we provided clear feedback about why regression tests are failing, engineers would not be strongly opposed to it.
* #1101 illustrates that some level of regression testing could help prevent bugs from impacting main functions of the site (in that example, website navigation)
* https://github.com/camunda/camunda-platfo

[2022-08-17 21:13] christian-konrad opened #1172 "Tidy up Web Modeler docs"
There are a few outdated pages and sections in the Web Modeler docs. Following, they are listed to be cleaned up (either removed or adjusted) in this issue.

- https://docs.camunda.io/docs/next/components/modeler/web-modeler/new-web-modeler/ is probably no longer needed (who should have been migrated will have been migrated months ago)
- Screenshots on https://docs.camunda.io/docs/next/components/

[2022-08-17 21:13] pepopowitz opened #1173 "🛑 BLOCKED 🛑 Archive older versions to external static sites"
We should archive older versions of our docs, into separate static sites.

## Why?

Each time we add a new version to our docs, it impacts our build time -- it's a bunch more files that docusaurus needs to turn into pages. The recommendation from docusaurus, and what their docs do, is to archive old versions to separate static sites. You can see this in their version selector, which contains a sec

[2022-08-17 23:21] akeller commented on #1172
I'm actively discouraging the use of GIFs or any motion graphics in the docs as we work to define accessibility standards. Please focus on high-quality text descriptions and reducing the number of images in the docs. I'll get more information available internally on the ask-documentation channel after my synchronous review of the [Docs Vision 2.0](https://camunda.slack.com/archives/C026U8GBNSW/p16

[2022-08-17 23:23] akeller commented on #1147
Instead of GIFs, please consider high-quality text instead. GIFs are difficult to make accessible and I'll make more information available about this in the Docs Vision 2.0.

[2022-08-18 06:42] sdorokhova commented on #914
Oh, there is no refresh process for Identity M2M token. They should request new token, when the previous is expired. So, this issue seems irrelevant for me. Or?

[2022-08-18 07:41] aleksander-dytko commented on #914
Should we describe this mechanism, maybe in the documentation?

Also, I've noticed that there were a couple of topics on the forum, asking about self-managed authentication. Few of them here:

https://forum.camunda.io/t/getting-unauthorized-error-for-operate-api-even-if-we-get-the-token-using-keycloak-and-identity/38724
https://forum.camunda.io/t/how-to-create-authtoken-to-access-tasklist-api-inca

[2022-08-18 09:20] MaxTru opened #1176 "Bad wording "Implementing a Connector""
**Page:** https://docs.camunda.io/docs/guides/implementing-connectors/

**Bug Description:** We currently have a guide on docs which is named `Implementing a Connector`. This guide explains how one can use and configure an out-of-the-box connector. The word `Implementing` is hence wrong.

**Expected Behavior:** Connectors Team proposes to rename this to `Using an out-of-the-box connector` or `Conf

[2022-08-18 10:13] Hafflgav commented on #1147
Hey @SebastianStamm,
could you point me to the right place where to change the "How to link a Form" link?
No need for you to take this over, I just cannot find the file where I would need to make this change.

Thank you in advance! 💯

[2022-08-18 13:58] akeller commented on #1147
https://github.com/bpmn-io/bpmn-js-properties-panel/blob/master/src/contextProvider/zeebe/DescriptionProvider.js#L48

But @SebastianStamm would probably know best how or when to anticipate it being released 😄

[2022-08-18 14:58] Hafflgav commented on #1147
Thanks so much @akeller - I was looking for this repository in the wrong organisation 🤦
I have created https://github.com/bpmn-io/bpmn-js-properties-panel/pull/741 to change the link already.

(apparently I am missing out on some rights in this orga, which forced me to create a PR rather not so nicley)

[2022-08-18 16:44] akeller commented on #1176
@christinaausley, what are your thought here?

[2022-08-18 18:52] christinaausley commented on #1176
"The reason is that the Implementation of a Connector will in the future refer to developing a custom / own connector. (e.g., Implementing a custom connector). Please also refer to how we distinguish custom connector and out-of-the-box connector [on docs](https://docs.camunda.io/docs/components/integration-framework/introduction-to-connectors/)."

This makes sense -- I'm good with this! Happy to l

[2022-08-18 20:43] christinaausley opened #1178 "update community clients"
Alongside https://github.com/camunda/camunda-platform-docs/issues/1146#issuecomment-1216267466, ensure community clients are updated with accurate ownership and repos/docs.

@xomiamoore Adding you here in case I need to confirm ownership of these community clients. Will follow up!

[2022-08-18 20:47] akeller commented on #1173
This will likely get promoted to a Product Hub Epic.

[2022-08-18 21:10] akeller opened #1179 "Audit and update `/howtos/`"
Our "How Tos" or what I've recently called our "docs on docs" are a bit stale in some places.

Things to update:

- [x] Camunda Cloud is now Camunda Platform 8
- [x] Documentation handles components with fixed releases and continuous releases
- [x] Introducing the PR checklist template
- [x] Identifying our docs reusable components
- [x] @christinaausley any updates to the cheat sheet and style gu

[2022-08-19 06:13] Hafflgav commented on #1146
Hey @xomiamoore, I have created a first PR for the Pyzeebe client.
Is there any other client we should add to our docu from your perspective. If there is, just let me know which one and I'll handle the rest docu wise. 👍

[2022-08-19 06:14] Hafflgav commented on #1146
Thanks @christinaausley for creating a new issue for the other clients! 💯
I am closing this issue for now 👋

[2022-08-19 06:14] #1146 closed

[2022-08-19 06:41] Hafflgav commented on #1147
The PR has been merged and will be included in the next release. I am going to close this issue now. 👋
Thanks for all your help @akeller and @christinaausley! 🚀

[2022-08-19 06:41] #1147 closed

[2022-08-19 08:06] menski commented on #1142
Might be an easy pick

[2022-08-19 13:22] falko opened #1182 "What exactly means partition health in the topology gRPC response?"
https://docs.camunda.io/docs/apis-clients/grpc/#topology-rpc

[2022-08-19 21:29] #1129 closed

[2022-08-19 21:35] pepopowitz commented on #883
This was resolved by #948 and the others listed above ☝️

[2022-08-19 21:35] #883 closed

[2022-08-19 21:40] christinaausley opened #1184 "Optimize collaborative capabilities are clear"
This issue tackles two questions:
- Is it emphasized in intro Optimize docs that Optimize is capable of more than just building reports?
- Is it emphasized in intro Optimize docs that Optimize has collaborative/shareable abilities?

[2022-08-19 21:42] christinaausley opened #1185 "it's clear how to add a form to a diagram"
With forms, is it clear how to add a form to a diagram in all beginner docs? There seems to be some confusion surrounding this.

[2022-08-19 21:44] christinaausley commented on #1179
@akeller Happy to review the style guide and ensure it's updated according to our latest version -- will launch a PR with any revisions. Just marked it on my calendar to continuously review this on a monthly basis 👍

[2022-08-19 22:20] akeller commented on #1154
🍐 / 🍐  sessions! Thanks @pepopowitz! And double thanks for getting it over the line and out the door!

[2022-08-19 22:20] #1154 closed

[2022-08-22 12:11] tmetzke opened #1187 "Document Connector SDK in more depth"
**What should we do?**

Have in-depth documentation on how to use the Connector SDK. This should include a practical guide on how to create a new connector, unit-test it, and run it locally.

**Why should we do it?**

Make it easier for users to consume the SDK.

[2022-08-22 20:02] akeller commented on #1176
@christinaausley please launch one and add @MaxTru as a reviewer. This feels straightforward.

[2022-08-22 20:10] akeller commented on #1173
Before I move this to an epic, I'd like to get this question answered:

I'll also socialize the "archived" language with legal and the C8 Stakeholder meeting.

[2022-08-22 20:29] akeller opened #1189 "Explore Mermaid for docs diagrams"
Our docs diagrams are images from various powerpoints and themes/colors associated with Zeebe, Camunda Cloud, and Camunda Platform 8 branding. There are also concerns about these diagrams not being accessible and in most cases, don't include a high-quality text description.

Instead of UML, @Sijoma suggested [Mermaid](https://mermaid-js.github.io/mermaid/#/). While separate from Kubernetes, it's t

[2022-08-22 20:55] akeller commented on #1189
@pepopowitz thoughts on Mermaid?

[2022-08-22 21:18] akeller commented on #989
@menski is this something Ahmed can work on? It's not as straightforward as some docs issues, but I would appreciate his thoughts on this.

Additionally, @falko is looking for instructions on how to update and backup using Helm charts, including the parameters to use for the upgrade command and how to handle credentials (some info is included [here](https://docs.camunda.io/docs/self-managed/platfo

[2022-08-22 21:18] pepopowitz commented on #1189
I think it's neat! We played with it a bit at my previous job, but nothing very deep. I love the idea of diagrams-as-code, though.

The biggest concern I have is if Mermaid fully covers the diagrams we have. I can't tell very easily from their docs if we can/how to extend it if we find that there are shapes/concepts it can't draw that we need to render, say, a BPMN diagram.

But also, would that b

[2022-08-22 21:20] akeller commented on #989
More notes on shutting down cluster and updating:

* For a partial solution see the `update` target in https://github.com/falko/camunda-8-helm-profiles/blob/master/include/camunda.mk
  * People copy our default chart values
    * If we change the default values, people would miss those changes
    * Help users understand their changes vs our defaults
    * Falko recommends starting with an empty c

[2022-08-22 21:26] akeller opened #1190 "Grafana dashboard image is too small to be useful"
The [Grafana dashboard image](https://docs.camunda.io/docs/self-managed/zeebe-deployment/operations/metrics/#grafana) is too small, and in reality, the dashboard is much longer than this screenshot implies.

@christinaausley in the screenshot automation you are working on, is this included? My gut says no.

I'd love to see a better description of the types of reports and info available on this das

[2022-08-22 21:29] akeller commented on #1190
This may be a good opportunity to work with the SREs to see what information they use regularly and what information should be available on the docs page vs. the GitHub README.

@christinaausley I'm going to assign this to you, but we can talk more about it in our 1:1. For now, this will go in the backlog.

[2022-08-22 21:40] pepopowitz commented on #1173
I updated the PR body, but re: docusaurus and how they handle archived sites, [they explain it here](https://docusaurus.io/docs/versioning#keep-the-number-of-versions-small). They don't hang on to the old source -- they capture the immutable URL from that specific release of the docs, and put that in the nav bar.

[2022-08-22 21:43] akeller commented on #1189
Ignore BPMN diagrams. I'm thinking anything non-BPMN we should standardize with something like Mermaid.

[2022-08-22 21:43] pepopowitz commented on #1173
What that means for us is....we can't look at docusaurus as a model for this. As far as I'm aware we don't have an immutable URL for every deployment. If we need to be able to update old versions, we'll need to come up with our own model for preserving old source, removing it from the current build, and being able to regenerate the old version docs.

[2022-08-22 21:44] akeller commented on #1189
I'm thinking more about the architecture diagrams like the one [here](https://docs.camunda.io/docs/components/zeebe/technical-concepts/architecture/) or the variety [here](https://docs.camunda.io/docs/components/zeebe/technical-concepts/clustering/).

[2022-08-22 21:49] pepopowitz commented on #1189
Happy to ignore. It'd be a nice experiment to try to re-draw a few of them with Mermaid at https://mermaid.live/

(Unimportant SEO note: that's not the first result in my search for "mermaid playground". [This is](https://www.amazon.com/Barbie-FXT20-Chelsea-Mermaid-Playset/dp/B07FFWNH9R).

[2022-08-23 06:35] menski commented on #989
@akeller I can talk with Ahmed about it, it is certainly in his field, but would like to clarify first the expectation.what would be your expectation here from Ahmed. Is it about giving input and help to form our strategy how to present this content, and what content. Or is it about writing that content itself?

[2022-08-23 14:29] akeller commented on #989
Both strategy and content, but I'm happy to provide more guiding questions on the strategy side so he can focus on the content.

[2022-08-25 14:08] HanselIdes commented on #1162
Hi @akeller and @Hafflgav,
I think we do need to review the role of the GSG within the context of the [User Onboarding Vision](https://confluence.camunda.com/display/HAN/User+Onboarding+Vision)

Thoughts:
1. The product provides users with a prebuilt template and in-app guidance based on their desired use case. Guidance begins as no-code Appcues flows until they prove successful and we promote the

[2022-08-25 14:10] HanselIdes commented on #1162
As an aside:

IMO, the GSG _should_ be opinionated about which way to achieve a task. This helps reduce the amount of text.

I propose:

As this directly affects the Modeler, which pattern do you want to prioritize teaching @christian-konrad?

[2022-08-25 14:51] akeller commented on #1173
We got a thumbs up from the C8 Stakeholder attendees this morning, but we'll need to do two things:

* Determine supported versions (we support 1.3 and 8.0, but moving forward we will support versions for 18 months)
* Decide on terminology ("Archive" wouldn't work for us)

Three things if you want to count "scheduling" this work, which is more of a question for you @pepopowitz. When would you like

[2022-08-25 19:26] #1167 closed

[2022-08-26 08:54] Hafflgav commented on #1162
So to conclude here we can say that the current microservice orchestration guide should stay as it is for the time being and that we would rather like to create a new intermediate version in collaboration with the Academy team.

@HanselIdes do you want me to create a new issue for this in our team project?

[2022-08-26 16:01] #1187 closed

[2022-08-26 19:05] akeller opened #1199 "Description is too long or too short on multiple pages"
Bing Webmaster Tool SEO reported the following - Description is too long or too short on multiple pages (see checklist below)
  * Validate that the description length isn't just a "Bing" thing.
  * Change the description in the <meta description> tag in the page source to be between 25 and 160 characters in length.
  * Add to style guide or cheat sheet some info about the length of a page descript

[2022-08-26 19:39] akeller opened #1200 "docs.camunda.io is not on Bing"
We have some issues with SEO, or in the case of Bing, lack of even appearing on searches. Based on Bing Webmaster Tools this appears to be happening since July 7th where _very_ limited data appears since. I'm unsure what's happening here and we've done **many** docs releases since then. There are a few high SEO issues, including #1199 and #1198. I'm unsure if fixing these issues will allow Bing to

[2022-08-26 19:41] akeller commented on #1200
Bing Webmaster Tools does show a sitemap, but I submitted https://docs.camunda.io/sitemap.xml again today to see if this helps.

[2022-08-26 20:17] akeller opened #1201 "Tear down C8 staging & build process"
This is post-c8 cleanup that's still hanging around.

- [x] Submit a ticket to IT to tear down c8.docs.camunda.io
- [x] Remove build process for C8
- [x] Confirm stage.docs.camunda.io is not indexable

[2022-08-26 20:29] akeller commented on #1200
Looks like this is happening to other folks, looks fine on Google, but not fine on Bing.

https://www.jessesquires.com/blog/2022/03/25/my-website-disappeared-from-bing-and-duckduckgo/
https://www.jessesquires.com/blog/2022/07/25/my-website-disappeared-from-bing-and-duckduckgo-part-2/

https://io.bikegremlin.com/28530/microsoft-bing-serp-gone-overnight/

[2022-08-26 20:41] akeller commented on #1200
I submitted a support request with Bing. Based on their automated email they will respond in 10 days.

[2022-08-26 21:24] #299 closed

[2022-08-29 06:06] #1162 closed

[2022-08-29 07:06] tmetzke commented on #1104
That is a great batch of options!

I like option 4 the most as a developer. I stay in charge of my contribution (nothing is autoformatted & committed without me personally checking it first), and I am still responsible for it (I receive suggestions in my PR that I have to accept if I want to get the PR through).

Adding an autoformat commit (on-demand with option 3 or automatically) to a PR is pro

[2022-08-30 10:07] igpetrov opened #1208 "AWS SQS: Add docs"
The scope of this issue is to create documentation for AWS SQS cloud connector.

Related to:
- https://github.com/camunda/cloud-connector-sqs/issues/17
- https://github.com/camunda/product-hub/issues/321

[2022-08-30 18:38] pepopowitz opened #1212 "Custom UI for landing pages"
For these pages:
  * Self-Managed
  * Guides
  * Components, including architecture diagram

Needs design work (from someone?)

[2022-08-30 18:53] pepopowitz opened #1213 "Evaluate modern API reference options"
Our API docs are currently text-based (largely), which doesn't align with expectations of non-Java engineers

Known options:
* Swagger, Redoc for REST
* GraphiQL for GraphQL
* README (what Orbit is using 😍)

This is a candidate for a product hub epic!

[2022-08-30 20:03] akeller commented on #1190
@christinaausley after speaking with Immi, it sounds like Zell and Nicolas own this as the Zeebe team so they would be better to approach with any questions you have on this.

[2022-08-31 13:15] akeller opened #1217 "Update `release-procedure.md`"
Documentation now supports continuously releasing components and components with two different versioning strategies or paths. We should update the docs for both release procedures:

* Simple GitHub release for patch version
* Release for C8 minor version
* [Future] Release for Optimize minor version

[2022-08-31 16:46] akeller commented on #1127
FEEL code is marked as JS, which may not actually be the best way to handle this either. If possible we should mark FEEL as FEEL but that may be out of scope for this particular issue.

[2022-08-31 18:54] christinaausley commented on #1190
Thank you @akeller ! Planning to take a closer look at this as soon as I'm back from FTO. If that blocks anything or causes any issues, let me know and I'll hop on this tomorrow.

[2022-08-31 19:21] christinaausley opened #1220 "Align Zeebe gateway security configuration content"
According to [this thread](https://camunda.slack.com/archives/C026U8GBNSW/p1661847100243859), [this section](https://docs.camunda.io/docs/self-managed/zeebe-gateway-deployment/zeebe-gateway/#security-configuration) describes the security configuration between gateway and brokers, while [this section](https://docs.camunda.io/docs/self-managed/zeebe-gateway-deployment/zeebe-gateway/#security-configu

[2022-08-31 19:24] christinaausley commented on #1127
I'd be happy to look into current use cases and new use cases and document these instances. Then, @pepopowitz and I can consult and combine efforts to document implementation docs?

[2022-08-31 21:51] akeller commented on #1127
@pepopowitz was targeting this as a potential Q4 topic, but you can do that as pre-work to support this!

[2022-08-31 21:54] akeller commented on #1190
You could even look at this as a Q4 item.

[2022-08-31 22:10] akeller commented on #1040
This is interesting from Bing Webmaster Tools guidance:

We could actually evaluate some of our redirects and prune out older ones. This might be a good topic to discuss with the web marketing team before we do it.

[2022-09-01 08:19] christian-konrad opened #1222 "Describe how to build a form with dynamic data"
Once we ship the dynamic data feature, that allows users to populate select field options by process data, we should have a proper  how-to guide to explain how to achieve this goal (including how to transform arbitrary input data into the target format using FEEL).

If this should be a how-to guide or part of the components doc needs to be decided

[2022-09-01 14:41] skayliu commented on #1126
Hi,@korthout ,@menski  i've docs for this，please check the PR，thank you .

[2022-09-01 14:43] christinaausley commented on #1127
Awesome! In that case, I'll let @pepopowitz handle this. Let me know if/where I can assist!

[2022-09-06 08:40] Oleksiivanov opened #1232 "AWS LAMBDA: add docs"
The scope of this issue is to create documentation for AWS LAMBDA cloud connector.

related to
https://github.com/camunda/connector-aws-lambda/issues/21
https://github.com/camunda/product-hub/issues/189

[2022-09-06 18:41] xomiamoore commented on #1178
Hey Christina -- a few things to look into:

* [This list](https://github.com/orgs/camunda-community-hub/repositories?q=client&type=all&language=&sort=stargazers) is everything with the word "client" in the repo name, sorted by Stars. In total there are 24 and quite a few that are not included in the docs currently.
  * Do we want to include every single client, or only the more popular ones?
* Do

[2022-09-06 19:28] akeller commented on #1178
Just a quick chime in from me - narrow the list to C8 clients @xomiamoore.

Other than that, you make a great point about presenting this info in the docs to be maintainable (and sustainable!).

[2022-09-06 19:52] xomiamoore commented on #1178
Awesome, can do @akeller.

(Do we not have an equivalent page for C7 clients? If not, should we? I'm sure this is a separate issue if so!)

[2022-09-06 20:30] akeller commented on #1178
Good 1:1 question, but out of scope for these docs since they just cover C8.

[2022-09-07 07:15] Skaiir opened #1237 "Update `utilizing-forms` screenshots following integration of new `form-js` version in `web-modeler`"
The screenshots will be deprecated in the next version of forms, as the menus have changed somewhat, and hence should be handled once we've integrated the new version.

[2022-09-07 20:47] pepopowitz opened #1240 "sync-board job fails for forked PRs"
The `sync-board` job fails for forked PRs with the following message:

[code]

Example: https://github.com/camunda/camunda-platform-docs/runs/8213953649?check_suite_focus=true

[2022-09-08 01:11] akeller commented on #1200
I’ve restored some of the docs.camunda.io pages to Bing search by submitting individual URLs for each section of the docs site. Despite resubmitting the sitemap it doesn’t seem to have the impact the individual URLs seem to have eventually. I can automate this, which I may try to do, and at least get some of the landing pages we have surfacing.

We have a plan to resolve the “SEO issues” Bing iden

[2022-09-08 14:29] akeller opened #1242 "Create cluster reusable component is not rendering"
![image (8)](https://user-images.githubusercontent.com/1051363/189149033-9e62f141-b138-4cb1-9bc0-2a0dbbce1de0.png)

This was reported in the MO Guide.

[2022-09-08 15:41] #1242 closed

[2022-09-08 17:34] akeller commented on #1176
This is live - https://docs.camunda.io/docs/guides/configuring-out-of-the-box-connectors/

[2022-09-09 14:03] ingorichtsmeier opened #1245 "Add overview of the SaaS architecture"
In the InfoSec training on Camunda Employee Academy, Victor showed two slides with an overview of the SaaS architecture and Saas dataflow.

It would be very useful to have these pictures in the docs available as well.

They are presented in the Camunda 8 - SaaS Information Security (Enablement) course in section C8 SaaS Controls, starting at 6:20 (Architecture) and 9:00 (Data flow).

[2022-09-09 14:15] #1126 closed

[2022-09-09 14:37] akeller commented on #1245
I'll see if we can get those 😄

For now, we added an architecture diagram Bernd crafted here on this page - https://docs.camunda.io/docs/components/

[2022-09-09 14:49] ingorichtsmeier commented on #1245
That picture is fine for a look at the components, but sometimes it is important to talk about networks and physics.

Especially when people want to deploy process models from the desktop modeler to their self managed kubernetes installation. As this is possible with SaaS they expect this feature in Self-Managed installation as well but the networking is different. These pictures can help to expla

[2022-09-09 14:52] akeller opened #1246 "Link to current doc pages with a specific version number"
Suggested by @aabouzaid via Slack.

[2022-09-09 14:57] ingorichtsmeier commented on #1245
Here are pngs of the slides:
![SaaS Architecture](https://user-images.githubusercontent.com/7870843/189379547-81f0f878-2554-4041-9e1c-6e0c5660df39.png)
![C8 SaaS Data flow](https://user-images.githubusercontent.com/7870843/189379552-593a436d-7bb4-407d-99a3-6937074d4882.png)

If you need them (for further maintenance), I have the original Google Slides in my personal folder as well.

[2022-09-09 16:13] akeller commented on #1245
Thank you! This is much more in line with the level of technical detail I was hoping to eventually get.

A quick comment - I see "IAM" (now Identity), "Camunda Cloud Console", and "Camunda Cloud Cluster", those would need to be adjusted.

[2022-09-12 09:48] igpetrov commented on #1063
@akulminskyi - FYI assigned this task to you.

[2022-09-12 10:55] Oleksiivanov opened #1249 "Write documentation on migrating to dynamic templates"
Need to write documentation on migrating HTTPRest to dynamic templates

related issues:
https://github.com/camunda/team-connectors/issues/93
https://github.com/camunda/connector-http-json/pull/99

[2022-09-12 17:29] ingorichtsmeier commented on #1245
Hi @akeller,

here is an updates picture:
![SaaS Architecture](https://user-images.githubusercontent.com/7870843/189718220-796b5b1f-b222-490a-ada6-7bf302ee568e.png)

Do you have a place where you store Google Slidedecks for further maintenace?

Or a specfic format to maintain pictures?

[2022-09-12 19:46] christinaausley commented on #1176
@MaxTru -- any issues with closing this?

[2022-09-13 14:56] pepopowitz commented on #1200
@akeller let me know if you want to pair on automating the individual submissions

[2022-09-13 15:45] korthout opened #1256 "Document inclusive gateway behavior changes"
We discovered an inconsistency between the inclusive gateway behavior in Zeebe and the BPMN spec, see:
- https://github.com/camunda/zeebe/issues/10310

Now that has been changed, we should also update the docs. Specifically, we should make the following changes:

- in the screenshots, the default flow's are labeled (somewhat indicating that there is a condition). We should remove the labels on the

[2022-09-13 20:50] christinaausley commented on #1178
Thank you @xomiamoore! I've added a a few materials and adjusted the wording so we don't have to update naming for maintainers and can make this more evergreen. Feel free to take a look at the [PR](https://github.com/camunda/camunda-platform-docs/pull/1257) and see if I've missed anything.

[2022-09-14 15:15] #1232 closed, assigned to Oleksiivanov

[2022-09-14 15:22] #1249 closed, assigned to Oleksiivanov

[2022-09-15 12:04] PreetiNirwal opened #1266 "Generic extension point: Add docs"
The scope of this issue is to create documentation for the new generic BPMN extension point.

Related to:

- https://github.com/camunda/product-hub/issues/335

[2022-09-15 14:03] barmac opened #1268 "I can read about custom SSL certificate flag for Camunda Modeler"
We need to document the flag implemented via https://github.com/camunda/camunda-modeler/pull/3046#issuecomment-1248038035

[2022-09-15 18:12] #1256 closed

[2022-09-15 20:06] akeller opened #1273 "Remove `/next/` from sitemap and link-checking"
The `/next/` docs are considered "under construction". We should remove them from the sitemap, and if necessary also exclude them from link-checking, as those artifacts presume content stability.

## Origin

_Originally posted by @pepopowitz in https://github.com/camunda/camunda-platform-docs/issues/1241#issuecomment-1248505776_

[2022-09-15 20:29] #1161 closed

[2022-09-16 01:39] #1208 closed

[2022-09-16 08:36] PreetiNirwal commented on #1266
Duplicate of https://github.com/camunda/camunda-platform-docs/pull/1274 (Closing).

[2022-09-16 08:36] #1266 closed

[2022-09-16 13:57] falko commented on #444
@akeller I placed it here now and adjusted the SaaS box: https://docs.google.com/presentation/d/1mYveLIWKE00oxFwRylM809rPKGw9a5IOdVvkFmttFEo

[2022-09-16 14:26] #1009 closed

[2022-09-16 16:18] PreetiNirwal opened #1277 "Minor update to sidebar label"
https://docs.camunda.io/docs/next/components/integration-framework/connectors/out-of-the-box-connectors/aws-sqs/

Could we please update sidebar label from "Amazon Simple Queue Service Connector" to "Amazon SQS Connector"

[2022-09-16 16:21] #1277 closed

[2022-09-16 17:24] nikku opened #1280 "Document `zeebe:property` extension"
_What should we do?_

Document the new `zeebe:property` extension in the context of its actual usage.

_Why?_

As of now documentation is missing; there does not exist a dedicated place (extension reference).

[2022-09-16 17:49] akeller commented on #1280
Is this related to #1274 or in addition to?

[2022-09-16 18:38] nikku commented on #1280
It goes beyond #1274. #1274 simply tracks keeping our element template documentation up to date with latest features.

----

The property `zeebe:property` serves a distinct purpose ("a generic extension point for configuring diagram elements"). It will be meaningful in the future for our users (they can hook into the _deploy_ event of diagrams and do stuff based on that in their own infrastructure

[2022-09-19 11:26] rob2universe opened #1283 "Document setting model deployment connection parameters for a self-managed deployment with Identity from Desktop Modeler"
https://docs.camunda.io/docs/next/components/modeler/desktop-modeler/connect-to-camunda-cloud/ only covers Saas.
It should also cover how to set the parameter for a self-managed deployment with identity enabled.
Where to get the client Id and secret? What to set fore OAuth URL and Audience?
How doe sit differ if Identity is not enabled in self-managed?

[2022-09-19 21:50] akeller opened #1287 "Filter/search on Dependencies page"
https://docs.camunda.io/docs/reference/dependencies/ uses a tabbed approach to display dependencies and third-party libraries by component, but doesn't have a great experience if you need to find a particular one.

We should look into an embedded filter or search on this page.

[2022-09-19 21:51] akeller opened #1288 "Search on Glossary page"
https://docs.camunda.io/docs/reference/glossary/ could have an embedded filter or search to make it easier to navigate

[2022-09-19 21:54] akeller opened #1289 "RSS feed for security notifications and release notes"
It probably doesn't make sense for all of our documentation to be available in an RSS feed, but for security notifications and release notes this may prompt users to respond or create a level of awareness at the dev team level.

This would not replace other security notifications or release note processes, but make the information consumable in another way.

[2022-09-19 21:58] akeller opened #1290 "Redesign CSS and branding styles/colors"
Full custom Camunda branding style/colors incorporated into CSS in an easy, reusable way. Right now this is a mix of default Docusaurus and hastily pulled together "hacks".

From an accessibility lens, it would be good to confirm we have no contrast issues.

[2022-09-19 22:01] akeller opened #1291 "Docs are available in dark mode"
**This may need to be an epic.**

We deliberately disabled dark mode because of issues with styles & branding, most noticeable in screenshots and SVGs.

1. Confirm styles & branding remain "on brand" with dark background.
2. When in dark mode, swap screenshots to a dark background, if available.
3. Confirm contrast is still acceptable for our accessibility goals.

[2022-09-19 22:07] akeller commented on #1179
I did some of this in #1281, but I'm not sure how much detail we want to go into for "identifying our docs reusable components".

[2022-09-19 22:08] akeller commented on #1217
The first two items were taken care of in #1281.

@pepopowitz do you have a separate issue for your Optimize work or is it reflected in #1116?

[2022-09-20 14:03] pepopowitz commented on #1217
Yes!

[2022-09-20 14:05] pepopowitz commented on #1217
But this is better defined & I'm going to link to it from #1116.

[2022-09-20 19:29] christinaausley commented on #1179
Style guide updated in https://github.com/camunda/camunda-platform-docs/pull/1191

[2022-09-20 21:01] akeller opened #1292 "CTA framework (Marketing CTA on Docs)"
Demand Gen wants to explore opportunities to get content in front of different audiences. On the C7 docs, we have (had) a framework to cycle through different CTAs (Call to Action). This does not exist on C8.

For it to exist, we need the following:

* Framework for creating and maintaining CTAs (code based asset)
* Defined strategy for what is and isn't allowed as a CTA (strategy doc)
* Pilot exa

[2022-09-22 14:51] deepthidevaki opened #1297 "Document how to backup a C8 self-managed cluster without downtime"
Backup
- [x] Document how to take backup of a Zeebe cluster
- [x] Document how to backup Operate
- [x] Document how to backup Tasklist
- [x] Document how to backup Optimize
- [x] Document backup process of C8 ([Ref](https://docs.google.com/document/d/1JcY-qqV6qYaT6ceUpZan3GHvQQaQp9VZA984BDu3tr8/edit#heading=h.qlvfuu9xksw9))

Restore (Might not be fully available for 8.1, in that case document how

[2022-09-22 17:40] christinaausley commented on #1178
Closing as this PR is merged 👍

[2022-09-22 17:40] #1178 closed

[2022-09-23 19:58] #1185 closed

[2022-09-23 20:03] #964 closed

[2022-09-26 04:38] saig0 opened #1307 "I can read about the BPMN terminate end event"
## Description

Since Zeebe `8.1`, we support BPMN terminate end events.

- [x] update the [BPMN coverage overview](https://docs.camunda.io/docs/next/components/modeler/bpmn/bpmn-coverage/)
- [x] add a new page for the terminate end event under events that describes the usage (similar to https://docs.camunda.org/manual/7.17/reference/bpmn20/events/terminate-event/)

[2022-09-27 21:14] #1120 closed

[2022-09-28 16:28] akeller commented on #1201
@pepopowitz confirmed no-index tag on pages for stage.docs.camunda.io

[2022-09-28 16:40] #1142 closed

[2022-09-28 18:45] akeller commented on #1201
Ticket submitted as general request Sept 28.

[2022-09-28 19:15] #1268 closed

[2022-09-28 19:56] #1307 closed

[2022-09-28 20:46] akeller commented on #1283
@rob2universe I may not be following this correctly.

Are you looking for how to connect Self-Managed Web Modeler? Or Desktop Modeler to Self-Managed? Or both? 😅

[2022-09-28 20:50] pepopowitz commented on #1217
Sharing some findings about what it takes to do a release with our new multi-instance setup, for posterity but also in hopes of coming to a conclusion on one of them:

## Things that need to happen to cut a new version

1. Edit `sidebars.js` and `optimize_sidebars.js` to remove `/next` from the helper at the top of each file.
   - this is needed for docusaurus to generate the correct URLs in the n

[2022-09-28 20:56] pepopowitz commented on #1217
oh, and then there's htaccess rules. I didn't account for that here, but I suspect we'll need to add some for some URLs that have moved in the new version. I anticipate tracking these down to be easiest after we push up the initial PR to cut new versions. Let CI find them for us!

[2022-09-28 21:02] akeller commented on #1217
The amount of empathy in this statement! 💞

Thank you for this great summary of the steps and overall situation. I think the 2nd line in step 2 was what I was trying to communicate this morning but saying (or asking) poorly. It looks like we cut a release for C8 **AND** we cut a release, separately for Optimize.

As I feel like I've been asking more often recently, how big is this or about how lon

[2022-09-28 21:16] akeller commented on #1116
@pepopowitz wants a post mortem for this, and I 100% agree.

[2022-09-28 21:25] akeller commented on #1217
🟢 let's gooooooooo 🚀

[2022-09-28 21:54] pepopowitz commented on #1116
Added to our 1:1 board 😅

[2022-09-29 01:34] rob2universe commented on #1283
This is about desktop modeler. Updated title to be clearer.

Going forward I assume the web modeler in self-managed will be configured to correctly deploy to the self-managed cluster.

[2022-09-29 08:43] huygur opened #1324 "Document Process Instance Modification"
We need to describe new process instance modification feature in Operate

[2022-09-29 13:41] akeller commented on #1283
@camunda/modeling-dev is this something you are aware of? Do you have another issue I can link to?

[2022-09-29 14:37] aleksander-dytko opened #1327 "Clarify m2m token usage for claimTask"
###User problem
Some users, may not know that the JWT token is meant for the m2m communication and issuing it per application, not per user.
See: https://forum.camunda.io/t/how-to-create-authtoken-to-access-tasklist-api-incase-of-self-managed-deployment/38274/13?u=aleksander-dytko

###Desired solution
Add information about m2m token to https://docs.camunda.io/docs/next/apis-clients/tasklist-api/mu

[2022-09-29 19:21] akeller commented on #1201
c8.docs.camunda.io is offline. Thank you for your service C8 staging environment!

[2022-09-29 19:21] #1201 closed

[2022-09-29 19:29] akeller commented on #826
New content will go into the banner with the 8.1 release -

Content options:
* [Sign-up](https://accounts.cloud.camunda.io/signup?uc=signup&utm_source=docs.camunda.io&utm_medium=referral&utm_content=banner) for a free account to start modeling & orchestrating business processes today.
* [Sign-up](https://accounts.cloud.camunda.io/signup?uc=signup&utm_source=docs.camunda.io&utm_medium=referral&utm_

[2022-09-30 09:40] megglos commented on #59
Deepthi: We should move admin endpoints to the Gateway instead, and document it there.

Pauseprocessing, Streamprocessing and TakeSnapshot are left to move.
@deepthidevaki will create a ticket for that.

Closing this as it's not worth doing under that perspective.

[2022-09-30 09:40] #59 closed

[2022-09-30 14:27] dlavrenuek commented on #1164
Hi @ingorichtsmeier, the requested information about configuration and Keycloak usage were added in #1326 and #1311. Improved docs on how to configure an identity provider in Keycloak will be added as part of https://github.com/camunda-cloud/identity/issues/982

[2022-09-30 19:16] pepopowitz opened #1333 "bug: non-Next versions of Optimize documentation link to incorrect version of main docs in header"
Top-nav links (Guides, Components, etc) on all versions of Optimize docs link to the Next version of main documentation. This is correct for the Next version of Optimize docs, but incorrect for all other versions.

## Reproduction

Visit https://docs.camunda.io/optimize/apis-clients/optimize-api/optimize-api-authorization/

Expected result: top-nav links (Guides, Components, etc) go to **current**

[2022-10-03 18:36] akeller commented on #941
@toco-cam following up here - can you respond to @christinaausley's questions? This will help us prioritize this work.

[2022-10-03 18:39] akeller commented on #1033
@pepopowitz the biggest issue I see with Prettier is changes made in the browser (GitHub UI). That makes me think we can close this and focus on #1104. WDYT?

[2022-10-03 18:40] pepopowitz commented on #1033
@akeller yes, I'm 100% in agreement.

[2022-10-03 18:41] akeller commented on #1104
Just wanted to chime in here with a pattern I'm noticing among the PM team - this seems to be the de facto way they PR.

I'm not annoyed with this (yet) because I'm happy to do a quick run of prettier and keep their PR up-to-date to keep them unblocked, but if I could do this on-demand or automatically, I would like that more for sure.

[2022-10-03 18:42] akeller commented on #1104
That said, I like option 4 the best these days 😄

[2022-10-03 19:17] #1033 closed

[2022-10-03 19:19] akeller commented on #272
This resolved itself and I'm not going to invest time or effort into figuring out why 😆

[2022-10-03 19:19] #272 closed

[2022-10-03 19:21] akeller commented on #1143
Today, much to my chagrin, I found Google linking to a `1.3` page.

We'll need to spend some time user-designating canonicals before we end up in a situation like our C7 docs.

[2022-10-04 08:35] ingorichtsmeier commented on #1164
Hi @dlavrenuek, thank you for the heads up! Looking forward to the 8.1 release!

[2022-10-04 18:34] #1217 closed

[2022-10-05 09:49] menski opened #1340 "Fix links for broken java client samples source code"
With https://github.com/camunda/zeebe/pull/9513 the java client samples where removed from the Zeebe repository and moved to the community project https://github.com/camunda-community-hub/camunda-8-examples/pull/3.

The nested pages of https://docs.camunda.io/docs/next/apis-clients/java-client-examples/ contains links to the source code which are now broken and should point to the new community pr

[2022-10-07 06:17] VoidCupboard commented on #1340
Hi! Can I work on this issue?

[2022-10-07 06:25] VoidCupboard commented on #1290
Hi! I would love to work on this issue if you can explain a bit more

[2022-10-07 07:35] MaxTru opened #1346 "Link to zeebe-ssl-certificate flag in the `Deploy your first diagram` guide"
### What to do?

Link to [zeebe-ssl-certificate flag](https://github.com/camunda/camunda-platform-docs/pull/1316) from the [`deploy your first diagram` guide](https://docs.camunda.io/docs/next/components/modeler/desktop-modeler/connect-to-camunda-cloud/)

### Why to do it?

Users in self-managed setups might fail to deploy diagrams from desktop modeler because they have not configured ssl certific

[2022-10-07 07:38] MaxTru commented on #1346
WDYT @barmac ?

[2022-10-07 11:45] #1340 closed

[2022-10-07 18:03] #1133 closed

[2022-10-08 00:57] akeller commented on #1290
Hi @VoidCupboard, this is actually quite a large topic that requires some design work and consideration that my team and I aren't prepared to support at this time. Thanks for offering to work on this, though!

[2022-10-08 00:59] VoidCupboard commented on #1290
Ah makes sense, no problem @akeller :)

[2022-10-10 06:42] barmac commented on #1346
I think this makes sense.

[2022-10-10 06:57] barmac commented on #1346
I can imagine this as a note on top: "In case you want to deploy to Camunda Platform 8 Self-Managed with a custom SSL certificate, [there is a flag which allows to configure it](https://docs.camunda.io/docs/next/components/modeler/desktop-modeler/flags/#zeebe-ssl-certificate).".

[2022-10-10 06:58] MaxTru commented on #1346
Do you know, if this is the default case now for customers that have self-managed with Identity set-up? Or will our self-managed installation with Identity "just work"?

[2022-10-10 07:00] barmac commented on #1346
I don't know, I haven't tried Identity setup yet. There is however an issue on deployment problems for this: https://github.com/camunda/camunda-modeler/issues/3152

[2022-10-10 07:02] MaxTru commented on #1346
I think we should try this typical end-2-end use-case first. This will allow us to better organize our Docs.

[2022-10-10 07:05] #1324 closed

[2022-10-10 07:06] huygur commented on #1324
closed with #1330

[2022-10-10 12:08] Oleksiivanov opened #1360 "Adjust SDK versions in the public SDK documentation (versions 8.0 and 8.1)"
__Discription__
Adjust SDK versions in the public SDK documentation (versions 8.0 and 8.1)

related to
https://github.com/camunda/team-connectors/issues/153

[2022-10-10 13:09] #1360 closed, assigned to Oleksiivanov

[2022-10-10 14:24] remcowesterhoud opened #1362 "Mention output mappings for none end events are supported"
## Description

The documentation for None-events currently mentions that end events do not support variable output mappings. With the merge of https://github.com/camunda/zeebe/pull/10618 this is now supported. This text should be changed to reflect this change.

## Should go live
8.2 release

[2022-10-10 15:04] #826 closed

[2022-10-10 15:13] #1151 closed

[2022-10-10 17:19] AnuragThePathak commented on #1362
Hi, will it be fine if I change the line to something like

[2022-10-11 06:36] deepthidevaki commented on #1297
Done.

[2022-10-11 06:36] #1297 closed

[2022-10-11 07:26] berndruecker commented on #772
Ok - great. Sounds super. Will take the pic from there

Sent from a mobile device
________________________________
From: Christopher Zell ***@***.***>
Sent: Thursday, April 7, 2022 11:54
To: camunda-cloud/camunda-cloud-documentation
Cc: Bernd Ruecker; Mention
Subject: Re: [camunda-cloud/camunda-cloud-documentation] IAM requirements are added to Supported Environments (and IAM renamed to Identity)

[2022-10-11 08:57] remcowesterhoud commented on #1362
Hi @AnuragThePathak! I think we should change your suggestion a little bit. It doesn't make sense to me to list all the None events specifically.

Personally I'd change it to something like:

For start events, this is often used to initialize process variables.

[2022-10-11 09:45] remcowesterhoud opened #1369 "Document Undefined Tasks"
## Description

Thanks to an external contribution Zeebe will soon support Undefined Tasks https://github.com/camunda/zeebe/issues/10562.

<img width="321" alt="image" src="https://user-images.githubusercontent.com/5787702/195056872-70d39c5d-8243-4e78-9756-a7bf62c60b0e.png">

These tasks behave a similar manner as manual tasks. The process instance can activate and complete the undefined tasks in

[2022-10-11 12:52] lzgabel opened #1370 "I can set candidate users on a user task"
As a user I would like to specify task candidate-users for user tasks. (issue: https://github.com/camunda/zeebe/issues/10346, pr: https://github.com/camunda/zeebe/pull/10459).

[2022-10-11 23:29] neal-dennis opened #1375 "Accurately represent the use cases for Zeebe Metrics"
The [Zeebe Metrics page](https://docs.camunda.io/docs/self-managed/zeebe-deployment/operations/metrics) starts with:

"When operating a distributed system like Zeebe, it is important to put proper monitoring in place.
To facilitate this, Zeebe exposes an extensive set of metrics."

These statements do not address nor make aware that metrics are live and not persisted. The metrics are not persisted

[2022-10-12 09:10] korthout commented on #1370
I've assigned myself, to clarify that I'm reviewing the contribution for this. Thanks again @lzgabel ❤️

[2022-10-12 13:46] akeller opened #1382 "Element Template Page missing from C8 sidebars (8.0, 8.1, Next)"
Looks like `https://docs.camunda.io/docs/next/components/modeler/desktop-modeler/element-templates/` isn't part of the sidebars, which is why the navigation doesn't show up on the side. In fact, it looks like this page is not in the sidebars for any C8 version.

[code]

We need to add `components/modeler/desktop-modeler/element-templates/element-templates`.

Let me open another PR @nikku and I'll

[2022-10-12 14:12] akeller commented on #1179
Given that we only have 1 reusable component, I'm going to close this and call it done. We can revisit in the future with a new issue.

[2022-10-12 14:12] #1179 closed

[2022-10-12 14:14] akeller commented on #1273
@pepopowitz We also determined that `/next/` was in the sitemap, or pieces of it. Should we modify this issue to include removing `/next/` from the sitemap, which should also remove it from link-checking?

[2022-10-12 16:08] akeller commented on #1173
Given the 30-45 min build times we saw getting the release out for 8.1/3.9.0, this will be critical by Q1. It's annoying now. I'll move this into an epic for future planning.

[2022-10-12 16:22] akeller commented on #1173
Please continue conversation on https://github.com/camunda/product-hub/issues/499.

[2022-10-12 16:58] akeller commented on #355
Moving this to the backlog since I don't think it will be worked on in Q4.

[2022-10-12 16:58] akeller commented on #1171
Moving to ready for Q4.

[2022-10-12 17:01] akeller commented on #991
Moving this to ready for Q4.

[2022-10-12 17:11] akeller commented on #1199
@christinaausley I likely need to pull a new list for you. We can talk about this in our 1:1 or wait until you are ready to start this work.

[2022-10-12 20:15] pepopowitz commented on #1273
I think those are two different questions.

#### Should we remove `/next/` docs from link-checking?

link-checking confirms that people/bots with old URLs are redirected. By removing `/next` from link-checking we're saying "we don't care if people/bots get redirected when things move".

I think that's correct, because `/next/` is technically unstable and I don't think we should be concerned with p

[2022-10-12 20:24] pepopowitz commented on #1382
@akeller I think that #1386 makes this a non-issue, right?

[2022-10-12 21:28] akeller commented on #1382
Yes, thank you @pepopowitz!

[2022-10-13 09:28] skayliu opened #1387 "I can set variables when failing a job"
As a user, I can set variables when failing a job. (issue: [camunda/zeebe#9404](https://github.com/camunda/zeebe/issues/9404), pr: [https://github.com/camunda/zeebe/pull/10702](https://github.com/camunda/zeebe/pull/10702) )

[2022-10-13 09:42] #1362 closed

[2022-10-13 16:34] rob2universe commented on #1346
https://github.com/camunda/camunda-modeler/issues/3152 also occurs without ssl

[2022-10-13 17:06] #1370 closed, assigned to korthout, lzgabel

[2022-10-14 08:33] menski commented on #174
We have the feeling we don't have any configuration options documented for our clients in general, not limited to the properties file.

[2022-10-14 08:46] menski commented on #447
Could make sense to add also DMN model API

[2022-10-14 08:47] menski commented on #447
Please note that DMN API has no builder API, which is challenging to use

[2022-10-14 08:49] menski commented on #501
To review if we think value is added here, but if someone wants to contribute we would be open to review it

[2022-10-14 08:52] menski commented on #858
We could also think about applying similar improvements to the BPMN docs, focusing more on the user perspective then the technical perspective. Seems to be a bigger task, which needs a general restructuring of the structure.

[2022-10-17 18:28] pepopowitz opened #1396 "Sidebars are difficult to keep synchronized"
In #1116, we introduced a second instance of the docs for Optimize documentation. This introduced a need to keep [two separate sidebars files in sync](https://github.com/camunda/camunda-platform-docs/pull/1166/files#r947021859) (sidebars.js and optimize_sidebars.js).

In the week leading up to the 8.1 launch, and with a flurry of PRs for new docs, this synchronization drifted. The synchronization

[2022-10-17 19:30] pepopowitz opened #1397 "What should we do with old redirect rules?"
We should develop an official strategy for old redirect rules in the .htaccess file.

Conversationally @akeller and I have talked about how we don't care too much about redirecting for pages in old versions of the docs, as we want to nudge people to update to the latest version. We've also talked about how we don't care much about redirecting pages in the `next` version, because those docs are to

[2022-10-18 01:16] akeller commented on #1397
Similar to #1040.

[2022-10-18 12:38] felix-mueller opened #1405 "Document Process and Decision Versiniong"
**Description**

Add a section around Process and Decision Versioning to the Documentation. Similar to https://docs.camunda.org/manual/7.17/user-guide/process-engine/process-versioning/#versioning-of-process-definitions

It can be basic at beginning and we can enhance later for Version Migration, Version Tags, etc.

[2022-10-18 19:20] akeller commented on #1273
I'm worried `/next/` and the current docs version are competing with each other SEO-wise. The content is too similar and may get deindexed. `/next/` should be available for internal searching, but anyone coming into docs externally should come into the latest numbered version and navigate to older number versions for `/next/` manually.

[2022-10-18 21:03] menski commented on #1375
I put it in our inbox to be triage in the next planning meeting

[2022-10-19 10:57] Hafflgav opened #1412 "HTO GsG: Fix inconsistency of process variables"
### Feedback:
The HTO documentation features the variable "meal" which is sometimes written small sometimes big. Since Camunda is key sensitive this will lead to an incident.
This Feedback was collected during a guest lecture at the TU Dortmund.

### Occurrences:
Capitalised "Meal":
<img width="834" alt="image" src="https://user-images.githubusercontent.com/30292227/196672396-efef4d0d-1ae8-47cc-80

[2022-10-19 10:58] Hafflgav commented on #1412
As variables are usually written without a capitalised starting letter I am going to name it "meal" instead of "Meal". By doing so I do not need to replace the whole screenshot either.

[2022-10-19 12:51] akeller opened #1414 "Add plugin-ideal-image"
Since we write our docs in Markdown, there is no (good) OOTB easy way to adjust images unless you want to write some custom CSS.

Ideally, our screenshots are standardized via #110 and #115, but if we need to add one on the fly it should be as consistent as possible and I think this plugin would help. We'd need to test it though.

[From internal Slack conversation.](https://camunda.slack.com/archi

[2022-10-19 12:56] Hafflgav opened #1415 "GsG's: Information in pictures is also listed in the text"
### Feedback:
From the guest lecture at the TU Dortmund we got the feedback that if we show information in pictures we want to make sure that it is also represented in textual form. This will allow the users to copy and paste functionality more easily to get started with C8.
Additionally, we need should follow the rules of using **bold text** for interactions and `code snippets` for text which nee

[2022-10-19 13:51] pepopowitz commented on #1273
That makes sense. I'm convinced; I'll update the body of this issue.

[2022-10-19 14:44] #1382 closed

[2022-10-20 08:55] #1387 closed

[2022-10-20 14:23] barmac commented on #1283
Note that oAuth token is not used in C8 for authentication in the gateway: https://github.com/camunda/product-hub/issues/120
I suspect that documenting token retrieval with Desktop Modeler could give a false sense of security until the oauth authentication in the gateway is implemented.

[2022-10-20 14:24] barmac commented on #1283
Or we should explicitly state that the feature is implemented only via community extension: https://github.com/camunda-community-hub/zeebe-keycloak-interceptor

[2022-10-20 15:27] akeller commented on #1116
@pepopowitz what work remains open that must be completed for this issue? I know other items have popped up but they seem outside of the scope of this epic.

(More context: I'm interested in pivoting our focus to the C7 SEO issues.)

[2022-10-20 15:28] pepopowitz commented on #1116
this is the last bit I consider part of the original work!

<img width="705" alt="image" src="https://user-images.githubusercontent.com/1627089/196992008-e2a024c5-175c-4734-91ac-5c4f15c81a71.png">

[2022-10-20 15:33] pepopowitz commented on #1116
Before I close it -- how much do we care about these 2 issues? Are they worth creating issues for?

[2022-10-20 15:37] pepopowitz commented on #1116
👍

CLOSING AS COMPLETED

<img src="https://media2.giphy.com/media/o75ajIFH0QnQC3nCeD/giphy.gif"/>

[2022-10-20 15:37] #1116 closed

[2022-10-24 08:08] felix-mueller opened #1427 "Add releases and end of maintenace dates to announcement page"
We should announce our releases here: https://docs.camunda.io/docs/reference/announcements/
And add a scheduled out of maintenace date for the releases + also mention when certain versions go out of maintenance e.g. 1.3

Similar to  https://docs.camunda.org/enterprise/announcement/

Slack thread https://camunda.slack.com/archives/C02UMKN3DTL/p1666598658371359

[2022-10-24 08:30] johanwelgemoed commented on #1327
For 8.0.x versions
Reach out @sdorokhova about grapnql doc updates as well.

[2022-10-24 08:43] Hafflgav commented on #1415
PR Comments resolved - waiting for it to be merged

[2022-10-24 08:43] Hafflgav commented on #1412
PR Comments resolved - waiting for it to be merged

[2022-10-24 11:34] deepthidevaki opened #1428 "Document changes to zeebe backpressure algorithm in 8.1 to 8.2 update guide"
Default backpressure algorithm have changed. This may impact the performance characteristic of the system. Users may have to tune the parameters to get optimal performance.

Reference:
- https://github.com/camunda/zeebe/pull/10747
- https://docs.google.com/document/d/1vs1ioCE5r6rhqTup1dl26uHj584--zZnI-KJMFr5W9s/edit#heading=h.p248i9hsmgix

[2022-10-25 08:52] johanwelgemoed commented on #1327
@aleksander-dytko I made the comment above that this is for 8.0.x versions, but I assume we need this on all versions from 8.0 onward as well right? (ie. will need to do same for 8.1.x docs)

[2022-10-25 09:25] jingege commented on #1245
Those pics are beautiful, which app is used when drawing the pics?

[2022-10-25 09:35] Skaiir opened #1430 "Add Camunda Forms DateTimePicker docs"
TO OUTLINE

[2022-10-25 11:52] oleschoenburg opened #1431 "Document potentially breaking upgrade of AWS SDK in Zeebe in the 8.1 to 8.2 update guide"
See https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-bucket-intro.html for more information about the difference between path-style and virtual-hosted-style access.
Please note that path-style access is deprecated. Please ensure that your S3 endpoint can support virtual-hosted-style access for future compatibility.

See https://github.com/camunda/zeebe/pull/10808 for more details.

[2022-10-25 12:01] aleksander-dytko commented on #1327
@johanwelgemoed yes - from the 8.0 onwards ;)

[2022-10-26 13:05] Hafflgav commented on #1415
PR merged - closing this issue. :)

[2022-10-26 13:05] #1415 closed

[2022-10-26 13:06] Hafflgav commented on #1415
PR merged - closing this issue. :)

[2022-10-27 10:37] aleksander-dytko opened #1436 "Document a concept of elastic curator"
### Problem description
When Customers what to find out how to clean up the data from ES, we don't have any supporting examples for that in our docs. The only mention is `You can use Elasticsearch Curator or other tools/scripts to delete old data.`

### What's expected
In [data retention section](https://docs.camunda.io/docs/next/self-managed/operate-deployment/data-retention/#data-cleanup) it wou

[2022-10-27 11:50] menski commented on #1427
Quick win:
- List all releases since 1.0 including next future release 8.2 to announce scheduled release data
- mention the end of maintenance in releases

[2022-10-27 16:44] aleksander-dytko opened #1438 "Change recommended tool to Postman and add reference to repository with API examples"
## Context
https://camunda.slack.com/archives/C9B5270DA/p1666886067731129

## Expected solution
- Change linked tool for GraphQl to Postman
- Link [Postman repository](https://github.com/camunda-community-hub/camunda-8-api-postman-collection) in Operate, Tasklist and Console API documentation
- Add link to [Postman workspace](https://www.postman.com/restless-shuttle-19836/workspace/camunda-platfor

[2022-10-28 08:37] menski commented on #1405
Maybe take this into the scope of version migration topic

[2022-10-31 10:37] Skaiir opened #1446 "Add Camunda Forms Textarea docs"
TO OUTLINE

[2022-10-31 18:28] akeller opened #1450 "Element Template docs should be SaaS (C8) first"
Internal thread - https://camunda.slack.com/archives/C02JLRNQQ05/p1667227477284729?thread_ts=1667226575.791319&cid=C02JLRNQQ05

Page should be adjusted to be SaaS-first, with C8 examples.

[2022-10-31 21:40] #1199 closed

[2022-10-31 21:43] akeller commented on #1412
Looks like the corresponding PR was merged. Can we close this issue now?

[2022-10-31 21:49] akeller commented on #1438
I LOVE this! And I'm excited to see some care going into the Postman workspace. @pepopowitz and I have talked about this and our API experience in general.

Is this something the component teams will take care of? Looks like it's on the Operate Board currently.

Do you want @christinaausley to review any of the content on the Postman workspace itself? She's looking for more opportunities to work c

[2022-11-01 11:20] johanwelgemoed commented on #1327
Update to also clarify confusion on when assignee is optional and when not

[2022-11-01 12:27] johanwelgemoed commented on #1327
Also update Tasklist GraphQL schema file for future versions once text finalised

[2022-11-01 15:49] #1200 closed

[2022-11-01 18:10] #1184 closed

[2022-11-01 18:13] #1283 closed

[2022-11-02 06:33] Sijoma commented on #444
I am interested how much `implementation details` we want to mention in these diagrams? E.g. is there even a need to display "Kubernetes Operator / Helm Charts" on this diagram?

If so: I suggest to remove `Helm Charts` from Camunda SaaS and create a Camunda Self-Managed Section on that diagram too. There the `Helm Charts` fit.

[2022-11-02 08:42] aleksander-dytko opened #1457 "Review Postman repositories"
**Context**
Currently, we have a [Postman workspace](https://www.postman.com/restless-shuttle-19836/workspace/camunda-platform-8/) and [Github repository](https://github.com/camunda-community-hub/camunda-8-api-postman-collection) with examples for specific component API in Postman file. For now it's a community project, but in the long term would be great if we can include it in our docs.

**Expec

[2022-11-02 08:42] aleksander-dytko commented on #1438
@akeller great to hear that 🤟

I included it in Operate backlog as this is directly connected with Help request from customer / support team.

From the long-term perspective, I should dicuss who will take care of updating github and postman repository for that as I saw that other PM also include this in their user stories e.g. [here](https://github.com/camunda/product-hub/issues/448).

I think it

[2022-11-02 11:25] mbiciin opened #1459 "AWS SNS: Add docs"
The scope of this issue is to create documentation for AWS SNS cloud connector.

Related to:
https://github.com/camunda/connector-sns/issues/16
https://github.com/camunda/product-hub/issues/465

[2022-11-02 14:07] Hafflgav commented on #1412
Oh no, thanks for pointing this out @akeller. I truly thought that I have had closed all of the issues.
Doing so now :)

[2022-11-02 14:07] #1412 closed

[2022-11-02 14:40] menski opened #1460 "Add data retention documentation"
We should document our current data retention practice for the different components in SaaS.

Document for 8.1 and next

Product Hub Epic: https://github.com/camunda/product-hub/issues/167#issuecomment-1300501776

[2022-11-02 15:13] akeller opened #1461 "Mitigate Bing warnings from Nov 2022 scan"
I grabbed some of the errors and warnings and tossed them into a [Google Sheet](https://docs.google.com/spreadsheets/d/1xZb6cIAwAPm3H6aJrWB4o7k7A6bf6V-rhw4zPfVcdog/edit?usp=sharing).

You’ll see a tab for “More than one H1 tag” and “Description too long or too short”.

The H1s are all pages in Modeler and might be generated before being copied into docs. You’ll need to check with the respective te

[2022-11-03 20:41] #1327 closed

[2022-11-04 11:06] andrejpetras opened #1471 "Add Quarkus Zeebe client info page"
Hi,

I would like to add the Quarkus client page to the Community Client documentation page.

PR: https://github.com/camunda/camunda-platform-docs/pull/1470

[2022-11-07 09:00] berndruecker commented on #444
The story we tell is also that we use the same setup internally as self-managed (just that the Kubernetes Operator is not yet available self-managed). Is that wrong?
We generally like providing as much implementation details as we can - unless there is a really good reason against it (e.g. security concerns). Is there?

[2022-11-07 12:59] #1471 closed

[2022-11-07 13:36] Sijoma commented on #444
Thanks for sharing @berndruecker. There are certainly no security concerns. I would say we have some required optimizations for our SaaS that differ from self-managed. But those are also negligible and the overall picture does not change.

[2022-11-08 07:43] #1122 closed

[2022-11-08 09:26] akeller commented on #991
@jwulf this is a good one for your to be aware of too since you may encounter things with the APIs you'd like to influence, change, or have better documented.

[2022-11-08 10:38] #1176 closed

[2022-11-08 10:38] akeller commented on #784
@berndruecker is this done?

[2022-11-08 11:19] lzgabel opened #1476 "I can read about the BPMN link events"
Since Zeebe `8.2`, we support BPMN link events. (https://github.com/camunda/zeebe/issues/10563)

 * [ ] update the [BPMN coverage overview](https://docs.camunda.io/docs/next/components/modeler/bpmn/bpmn-coverage/)
 * [ ] add a new page for the link event under events that describes the usage (similar to https://docs.camunda.org/manual/7.17/reference/bpmn20/events/link-events/)

[2022-11-08 15:45] berndruecker commented on #784
Of course not :-|
Popped up my trello card for it and then hope to overwork the whole connector parts with the latest connector developments (probably around new year)

[2022-11-09 01:06] christinaausley commented on #115
**Timeline**
- **By Nov 11**: Launch draft repository for Operate and Tasklist screenshots.
- **By Nov 18**: Standardize Zeebe screenshots based on approved proposal [here](https://docs.google.com/document/d/1gATpZXVxGiWEF4HfUbpUpQJ8ElyeZROERwiArPX5FRk/edit). Make necessary edits to Operate/Tasklist repo to have it fully functioning.
-  **By Dec 9**: Write out scripts for Operate/Tasklist screensh

[2022-11-09 08:26] #1461 closed

[2022-11-09 08:31] akeller commented on #115
Thank you for the timeline @christinaausley! This looks great!

[2022-11-09 08:34] akeller commented on #784
Your weeks are much longer than mine 😝

[2022-11-09 08:36] nikku opened #1482 "Make element templates an all modelers feature"
### Describe the context

Element templates are nowadays an all modelers BPMN modeling feature:

* They are supported in the desktop modeler with discovery through local file system discovery
* They are supported in the web modeler (branded as "connector templates") as first class citizens

Still, to date they are burried under "Modeler > Desktop Modeler" with a note hinting on desktop modeler sup

[2022-11-09 11:13] oleschoenburg opened #1483 "Document support for encrypted buckets for hot backups in Zeebe"
We tested manually that Zeebe can use buckets with default encryption to save and restore backups. Since customers are interested in encrypted backups, we should publicly document this.

Internal discussion for context: https://camunda.slack.com/archives/C039ZA5EK51/p1666710704914709

[2022-11-09 13:35] HanselIdes opened #1485 "Typo on Sizing your Environment"
Found on https://docs.camunda.io/docs/components/best-practices/architecture/sizing-your-environment/

![image](https://user-images.githubusercontent.com/17521551/200843890-4418a1ba-17d8-40e8-9ab8-82b66876b4ed.png)

There's an S missing in 'process'

[2022-11-09 14:51] McAlm opened #1486 "Operate REST API - Add enum values for state, type etc. for all object schemas"
The documentation lacks of an overview of possible values for enumerated values. That makes it difficult to create queries if one does not know which values are valid.
https://docs.camunda.io/docs/apis-clients/operate-api/#object-schemas

This applies to:

- Process Instance
  - state
- Incident
  - state
  - type
- Flownode Instance
  - type
  - state

### Test case:
[Operate REST API have enum v

[2022-11-09 15:40] akeller commented on #1486
@aleksander-dytko are you aware of this?

[2022-11-09 16:51] aleksander-dytko commented on #1486
@akeller thanks for mentioning me. I'll add it to the operate board.

[2022-11-10 08:10] #1485 closed

[2022-11-10 09:53] menski opened #1490 "Document workaround to use self-signed certificates to connect to elasticsearch"
We want to improve this setup with this epic https://github.com/camunda/product-hub/issues/583

Until then we should document the workaround needed to get this working. Examples of this workaround can be found in https://github.com/camunda/camunda-platform-helm/issues/473

[2022-11-11 09:35] johanwelgemoed commented on #1486
@McAlm Just a quick question, if you run Operate instance you can access the swagger UI and there it lists everything, with examples. The docs page does not have the same level of detail as swagger.

[2022-11-11 09:36] johanwelgemoed commented on #1486
@aleksander-dytko we propose to rather remove this chapter from the docs since the information is in swagger (which will always be up to date). The docs are created manually and does not add any extra value at this point.

[2022-11-11 09:39] johanwelgemoed commented on #1490
Most likely need to be updated here : https://docs.camunda.io/docs/next/self-managed/operate-deployment/operate-configuration/#elasticsearch

[2022-11-11 18:03] igpetrov opened #1498 "OOTB Connectors: add Kafka user guide"
Add Kafka OOTB connector user guide.

[2022-11-11 18:39] McAlm commented on #1486
@johanwelgemoed: swagger-ui indeed is an option for developers, but still, it does not list everything, e.g.:
<img width="368" alt="Bildschirmfoto 2022-11-11 um 19 37 33" src="https://user-images.githubusercontent.com/2012154/201408626-64405c71-8f31-47ad-b8cf-30998f58de25.png">

As developer I need to know which valid enum values are possible.

[2022-11-14 10:25] aleksander-dytko commented on #1486
@johanwelgemoed based on the discussion, I would propose to document everything in Swagger (as @McAlm suggested) and add the reference in the documentation.

@akeller would that work for you from docs POV?

[2022-11-14 14:46] McAlm opened #1503 "Identity - which permissions to add"
https://docs.camunda.io/docs/self-managed/identity/user-guide/adding-a-permission/

the docs say:
`Each component within the cloud stack has support for specific permissions. We recommend checking the [documentation for the required component](https://docs.camunda.io/docs/components/) to find out the list of permissions it supports.`

the link mentioned above is just heading to an overview of all

[2022-11-15 13:46] akeller commented on #1503
@dlavrenuek can you review and help me understand how we could change this to meet the needs of users working with Identity? Are the permissions dramatically different for each component? Or maybe recommended permissions?

[2022-11-15 14:21] christian-konrad opened #1506 "Update documentation of our BPMN symbol coverage"
Since we introduced today (Nov 15) support for all BPMN symbols for strategic modeling in Modeler, we need to update our [documentation on symbol coverage](https://docs.camunda.io/docs/next/components/modeler/bpmn/bpmn-coverage/) to make it clear which symbols are supported for modeling, and what is the supported subset for execution.

Easiest could be to change text from `The following BPMN eleme

[2022-11-15 15:33] berndruecker opened #1507 "Add "What's a connector" to docs"
https://docs.camunda.io/docs/components/connectors/introduction-to-connectors/ is missing a quick intro what makes a connector (e.g. like in https://camunda.com/blog/2022/07/a-technical-sneak-peek-into-camundas-connector-architecture/).

Latest picture e.g. here. https://docs.google.com/presentation/d/1F_xr6LSmut84up_OkyEwgGh9JSkQuhyqmTihM0TlavE/edit#slide=id.g15a5b1f60a9_0_3408

![grafik](https:/

[2022-11-15 17:41] korthout opened #1508 "Document use case for fail job with variables"
Since `8.2.0-alpha1` users can [pass variables along when failing a job](https://github.com/camunda/zeebe/issues/9404). This is also documented in the job-worker concept where we discuss [completing or failing jobs](https://docs.camunda.io/docs/next/components/concepts/job-workers/#completing-or-failing-jobs).

Currently, that documentation only describes the behavior. Not why a user would want to

[2022-11-16 09:36] korthout opened #1510 "Document passing variables along with errors"
Camunda Platform `8.2.0-alpha2` will support passing variables along with errors thrown for jobs. We will need to document this feature.

We need to:
- Update the [gRPC API reference](https://docs.camunda.io/docs/next/apis-clients/grpc/#throwerror-rpc)
- Clarify the variable propagation behavior for [Error Events](https://docs.camunda.io/docs/next/components/modeler/bpmn/error-events/) (they are n

[2022-11-16 10:22] korthout commented on #1510
@akeller It seems I no longer have the same access to this repo. I'm unable to label this issue. I'm also no longer able to assign it to the Zeebe Process Automation Team project.

[2022-11-16 10:45] dlavrenuek commented on #1503
@McAlm @akeller I agree that the current permission management is confusing and so are the docs. Identity will already create all possible permissions for C8 apps without the need for manual user interaction. The current permissions only limit the top level access to the apps and we are working on [resource based permissions](https://github.com/camunda-cloud/identity/issues/1218) where the users w

[2022-11-16 14:41] korthout commented on #1510
Ok, seems I'm able to do do this again :D

[2022-11-16 17:00] #1459 closed

[2022-11-16 21:22] akeller commented on #1510
IT was moving some permissions around and making an employee group which may have been right when you were trying to do this.

[2022-11-17 00:59] jwulf commented on #1457
I couldn't get it to work.

[2022-11-17 12:22] MaxTru commented on #1063
Corrected. Thanks for highlight. Will close.

[2022-11-17 12:22] #1063 closed

[2022-11-17 12:40] tmetzke commented on #1063
Glad this improves it 👍

[2022-11-17 13:52] saig0 opened #1513 "I can read what accuracy to expect from a timer event"
We have documentation that explains how BPMN timer events can be used: https://docs.camunda.io/docs/components/modeler/bpmn/timer-events/.

But it doesn't explain what accuracy to expect from a timer event. If I define a duration of 1 second, is the timer triggered exactly after 1 second? Or, within one minute?

This is a common question.

The answer is: no guarantees. Zeebe is an asynchronous sys

[2022-11-17 19:39] christinaausley commented on #1457
I'll take a look at this either tomorrow or Monday for review 👍

[2022-11-17 21:20] akeller commented on #1486
Yes!! I absolutely want to get away from manual, text-based API reference docs.

[2022-11-18 10:48] igpetrov opened #1515 "Google Drive OOTB Connector: clarify details doc"
There was a customer request that extra clarification are required for GDrive.

[2022-11-18 10:56] koevskinikola opened #1516 "I can read about standalone Decision evaluation"
Zeebe will support standalone Decision evaluation (see https://github.com/camunda/zeebe/issues/11037). We will need to document this feature.

**Tasks:**
- [x] Document the call in the [Zeebe API (gRPC)](https://docs.camunda.io/docs/apis-clients/grpc/)
    - Document the different responses:
       - [x] Invalid command - rejection
       - [x] Evaluation failure - valid response with failure mess

[2022-11-18 10:57] koevskinikola commented on #1516
Hi @akeller, do you think there is any other place where documentation on this feature would be useful?

[2022-11-18 15:01] koevskinikola opened #1519 "I can read conceptual Decision documentation"
**Description**
As a user, I can read a conceptual documentation on Decisions, similar to what is available for [Process Instance Creation](https://docs.camunda.io/docs/components/concepts/process-instance-creation/)

**Related to**
* https://github.com/camunda/camunda-platform-docs/issues/1516

**Blocked by**
* https://github.com/camunda/zeebe/issues/11048

[2022-11-18 18:43] #1515 closed

[2022-11-21 15:35] oleschoenburg opened #1522 "Document Zeebe S3 backup store compression config"
Document new config to enable backup compression.

Related to https://github.com/camunda/zeebe/pull/11017

[2022-11-21 21:45] pepopowitz commented on #1333
@akeller when we last discussed this issue in person, we said we wanted to see proof that people were running into this issue before we decided to spend time on it. Have you heard from anyone who has unwittingly discovered this problem?

[2022-11-22 10:34] tmetzke commented on #1507
I think we can play this on different levels of detail in different parts of the documentation. Something like this might suffice for the general "how does this work" use case. But more detailed views might be interesting in Self-Managed, for example, detailing where secrets are coming from and where the Connector functions run.

[2022-11-22 14:47] akeller commented on #1506
@christian-konrad is this something your team will take care of?

[2022-11-22 21:01] akeller commented on #1516
@koevskinikola perhaps a mention on [this page](https://docs.camunda.io/docs/components/modeler/bpmn/business-rule-tasks/) since it's the current way users know decisions can be evaluated.

[2022-11-22 21:02] akeller commented on #1333
@pepopowitz thanks for checking in. I haven't heard anything.

[2022-11-22 21:21] pepopowitz commented on #1333
Cool, thanks. I'm inclined to de-prioritize this a bit, do you disagree?

[2022-11-22 21:36] akeller commented on #1333
Yep! You can even move it from "Ready" into "Backlog" to reinforce that.

[2022-11-23 06:29] tmetzke opened #1526 "Prevent merge with label `hold`"
__What is the issue?__

Using the `hold` label is supposed to prevent merges of PRs until they are ready.
However, this is not enforced in any way and easy to overlook, Accidental merges can still easily happen.

__What should we do?__

Prevent merges of PRs with the label `hold`.

__Notes__

* We could create a workflow based on this action: https://github.com/marketplace/actions/enforce-pr-label

[2022-11-23 09:24] #1460 closed

[2022-11-23 14:19] christian-konrad commented on #1506
@akeller yes :)

[2022-11-23 16:03] pepopowitz commented on #1526
I think this sounds great. I'm lacking context, so a couple questions:

1. Did we have a PR merged with a `hold` label that shouldn't have been?

2. From this statement...

   by what guidelines is this supposed to be the case? Is this an expectation that's documented in this repo, or somewhere else? Is it undocumented, but an expectation based on experience in other projects? I'm just wondering i

[2022-11-23 19:55] pepopowitz commented on #1171
Note for myself: [trigger another workflow upon completion success](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-a-workflow-based-on-the-conclusion-of-another-workflow). (If we decide to trigger the regression testing workflow to run only after a production deploy.)

[2022-11-24 07:50] tmetzke commented on #1526
1. Not that I am aware of but I just onboarded one person on our team and received the question why we don't enforce this technically.
2. The issue description says "This issue is parked, do not merge.". I would count that as documented.

I would actually like to establish something like this for all repositories where it makes sense (documentation and web modeler from the top of my head but proba

[2022-11-25 09:36] menski commented on #1508
@menski keep this in mind of 8.2 release

[2022-11-25 09:37] menski commented on #1510
Has to be done before 8.2 release

[2022-11-25 12:13] remcowesterhoud opened #1531 "Document Escalation Events"
## Description
Starting from release 8.2 Zeebe will support Escalation events. We should document how they work and how users can use it.

Sources:
- Product hub: https://github.com/camunda/product-hub/issues/198#issuecomment-1278944197
- Zeebe EPIC: https://github.com/camunda/zeebe/issues/10682

- [ ] Modify the BPMN Coverage page
- [ ] Add a page describing Escalation Events

[2022-11-25 13:09] aleksander-dytko opened #1532 "Document how Usage Metrics are counted"
### User problem
Customers have questions, how do we count the PI and DI in our Usage Metrics endpoint

## Expected solution
explain which process instance count is displayed [here](https://docs.camunda.io/docs/self-managed/operate-deployment/usage-metrics/)

### Additional collateral:
https://camunda.slack.com/archives/C02UMKN3DTL/p1669198210895449

[2022-11-25 13:44] mbiciin opened #1534 "REST Connector: update documentation for oauth authentication"
Add documentation for oauth

[2022-11-28 08:52] #1032 closed

[2022-11-28 09:57] oleschoenburg opened #1536 "Document Zeebe S3 backup store `basePath` config"
Depends on https://github.com/camunda/zeebe/pull/11108

[2022-11-28 14:59] akeller commented on #1526
+1 to this for consistency. I would support being early adopters of this in the docs repo since we do see `hold` PRs from time to time.

I'll let you two continue to work out the implementation details.

[2022-11-28 22:02] akeller opened #1538 "Remove GIFs"
We should remove GIFs as we find them and instead invest in high-quality text that describes the experience.

[2022-11-28 22:05] akeller opened #1539 "Automagically move items to "Done" on Developer Experience board when merged"
Most items move manually across the [Developer Experience board](https://github.com/orgs/camunda/projects/27).

If a PR is merged or an issue is closed, the item should appear in the "Done" column.

## Implementation Suggestions

- See [these GitHub docs](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-workflow-when-a-pull-request-merges) on how to tri

[2022-11-28 22:07] akeller commented on #1539
@pepopowitz we talked about this one last week. Do you want to snag it and add more details?

[2022-11-29 07:29] nikku commented on #1506
Will be addressed via https://github.com/camunda/camunda-platform-docs/pull/1540.

[2022-11-29 08:21] #1506 closed

[2022-11-29 08:51] nikku commented on #1506
Backport to be merged after next modeler minor release: https://github.com/camunda/camunda-platform-docs/pull/1541

[2022-11-29 14:40] #1498 closed

[2022-11-29 16:04] pepopowitz commented on #1526
Assigning myself, and moving this issue to "Ready" as it seems like a nice small thing I can do while waiting for Google on https://github.com/camunda/product-hub/issues/232.

[2022-11-29 20:47] christinaausley commented on #1457
Note that both of these resources have been reviewed.

@jwulf -- where did you run into issues? Do you want to schedule a call to discuss?

[2022-11-29 20:49] christinaausley commented on #1438
Note that both resources have been reviewed. Will create an issue for the Console team as a result of the Console Postman repository generated from the Console Swagger file.

[2022-11-30 08:39] saig0 opened #1548 "I can read how to use an inline FEEL expression on a BPMN script task"
Since Zeebe `8.2`, we support BPMN script tasks with an inline FEEL expression. (https://github.com/camunda/zeebe/issues/https://github.com/camunda/zeebe/issues/4213)

 * [ ] extend the [page](https://docs.camunda.io/docs/next/components/modeler/bpmn/script-tasks/) of BPMN script tasks and explain how to use an inline FEEL expression as an alternative to the job worker implementation

The docs cou